In [1]:
import pandas as pd
import numpy as np
import pandas_profiling as ppf

In [2]:
pd.options.display.max_columns = 50
pd.options.display.max_rows = 50

In [3]:
!ls

Analysis-H1B-Visas.ipynb          H-1B_FY14_Q4.xlsx
H-1B_Disclosure_Data_FY15_Q4.xlsx data-descr
H-1B_Disclosure_Data_FY16.xlsx    ~$1B_Record_Layout_FY08.doc

In [4]:
h1b_2014 = pd.read_excel('H-1B_FY14_Q4.xlsx')
h1b_2014.head()

,LCA_CASE_NUMBER,STATUS,LCA_CASE_SUBMIT,DECISION_DATE,VISA_CLASS,LCA_CASE_EMPLOYMENT_START_DATE,LCA_CASE_EMPLOYMENT_END_DATE,LCA_CASE_EMPLOYER_NAME,LCA_CASE_EMPLOYER_ADDRESS,LCA_CASE_EMPLOYER_CITY,LCA_CASE_EMPLOYER_STATE,LCA_CASE_EMPLOYER_POSTAL_CODE,LCA_CASE_SOC_CODE,LCA_CASE_SOC_NAME,LCA_CASE_JOB_TITLE,LCA_CASE_WAGE_RATE_FROM,LCA_CASE_WAGE_RATE_TO,LCA_CASE_WAGE_RATE_UNIT,FULL_TIME_POS,TOTAL_WORKERS,LCA_CASE_WORKLOC1_CITY,LCA_CASE_WORKLOC1_STATE,PW_1,PW_UNIT_1,PW_SOURCE_1,OTHER_WAGE_SOURCE_1,YR_SOURCE_PUB_1,LCA_CASE_WORKLOC2_CITY,LCA_CASE_WORKLOC2_STATE,PW_2,PW_UNIT_2,PW_SOURCE_2,OTHER_WAGE_SOURCE_2,YR_SOURCE_PUB_2,LCA_CASE_NAICS_CODE
0,I-200-09106-546545,CERTIFIED-WITHDRAWN,2013-01-18 18:05:43,2014-09-29 15:59:50,H-1B,2013-02-01,2016-02-01,TEXAS STATE UNIVERSITY-SAN MARCOS,601 UNIVERSITY DRIVE,SAN MARCOS,TX,78666,19-1029,"Biological Scientists, All Other",POSTDOCTORAL RESEARCH ASSOCIATE,50000.0,60000.0,Year,Y,1.0,SAN MARCOS,TX,43118.0,Year,OES,OFLC ONLINE DATA CENTER,2013.0,ST. LOUIS,MO,49566.0,Year,OES,OFLC ONLINE DATA CENTER,OFLC ONLINE DATA CENTER,611310.0
1,I-200-09162-143337,CERTIFIED,2014-03-17 11:11:45,2014-03-21 23:11:51,H-1B,2014-09-15,2017-09-15,"EYE SPECIALISTS OF INDIANA, P.C.",1901 N. MERIDIAN ST.,INDIANAPOLIS,IN,46202,29-1041,Optometrists,OPTOMETRIST,65000.0,NaN,Year,Y,1.0,INDIANAPOLIS,IN,64251.0,Year,Other,OFLC ONLINE DATA CENTER,2013.0,INDIANAPOLIS,IN,64251.0,Year,Other,OFLC ONLINE DATA CENTER,OFLC ONLINE DATA CENTER,621320.0
2,I-200-09182-550211,DENIED,2014-03-14 17:05:01,2014-03-20 16:59:49,H-1B,2014-04-01,2015-04-01,"LHB, INC.",21 WEST SUPERIOR STREET,DULUTH,MN,55802,27-2011,Actors,FOOD SAFETY SCIENTIST,50000.0,NaN,Year,Y,1.0,FARG,WI,50000.0,Year,OES,OFLIC ONLINE,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,541330.0
3,I-200-09193-873099,CERTIFIED,2014-03-01 12:37:02,2014-03-06 22:03:37,H-1B,2014-08-28,2017-08-27,"WAM USA, INC.",75 BOULDERBROOK CIRCLE,LAWRENCEVILLE,GA,30045,13-2011,Accountants and Auditors,INTERNATIONAL ACCOUNTANT,48000.0,NaN,Year,Y,1.0,LAWRENCEVILLE,GA,47424.0,Year,Other,OFLC ONLINE DATA CENTER,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,333922.0
4,I-200-09197-120609,CERTIFIED-WITHDRAWN,2014-03-10 15:33:41,2014-03-17 10:52:46,H-1B,2014-09-01,2017-09-01,"DFUSE TECHNOLOGIES, INC.",20143 DESERT FOREST DRIVE,ASHBURN,VA,20147,15-1131,Computer Programmers,PROGRAMMER ANALYST,62000.0,NaN,Year,Y,1.0,SAN JOSE,CA,61589.0,Year,OES,OFLC ONLINE DATA CENTER,2013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,541519.0

In [5]:
h1b_2015 = pd.read_excel('H-1B_Disclosure_Data_FY15_Q4.xlsx')
h1b_2015.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS1,EMPLOYER_ADDRESS2,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_LEVEL,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE
0,I-200-09121-701936,WITHDRAWN,2015-02-05,2015-02-05,H-1B,02/09/2015,02/28/2015,"MEDTRONIC, INC.",710 MEDTRONIC PARKWAY NE,NaN,MINNEAPOLIS,MN,55432,UNITED STATES OF AMERICA,NaN,7.635053e+09,NaN,DEBRA SCHNEIDER,MINNEAPOLIS,MN,MECHANICAL ENGINEER,17-2141.00,MECHANICAL ENGINEERS,334510.0,1.0,Y,19000.0,Year,Level I,OES,2014.0,ONLINE DATA SURVEY,20000 -,Year,N,N,EDEN PRAIRIE,STERNS,CA,55412
1,I-200-09146-796321,CERTIFIED,2014-12-12,2014-12-18,H-1B,01/05/2015,01/04/2018,UNIVERSITY OF OKLAHOMA,905 ASP AVE,NEL BLDG 207,NORMAN,OK,73019,UNITED STATES OF AMERICA,NaN,4.053252e+09,NaN,NaN,NaN,NaN,ASSISTANT PROFESSOR,25-1032,"ENGINEERING TEACHERS, POSTSECONDARY",611310.0,1.0,Y,42860.0,Year,Level I,Other,2014.0,OFLC ONLINE DATA CENTER,85000.00 -,Year,N,N,NORMAN,CLEVELAND,OK,73019
2,I-200-09180-329758,WITHDRAWN,2013-01-03,2014-12-15,H-1B,01/07/2013,01/06/2016,NOKIA INC.,6021 CONNECTION DRIVE,NaN,IRVING,TX,75039,UNITED STATES OF AMERICA,NaN,9.728945e+09,NaN,HASEENA ENU,DALLAS,TX,RELEASE AND SOFTWARE TEST MANAGER,15-1799,"COMPUTER OCCUPATIONS, ALL OTHER*",517212.0,1.0,Y,73965.0,Year,Level II,OES,2012.0,OFLC ONLINE DATA CENTER,94000 -,Year,N,N,SAN DIEGO,SAN DIEGO,CA,92127
3,I-200-09183-259985,CERTIFIED,2015-03-10,2015-03-16,H-1B,09/07/2015,09/07/2018,"OMRON OILFIELD AND MARINE, INC.",9510 N. HOUSTON ROSSLYN ROAD,NaN,HOUSTON,TX,77088,UNITED STATES OF AMERICA,NaN,7.138492e+09,NaN,ELDON KAKUDA,SCHAUMBURG,IL,CONTROL ENGINEERING SPECIALIST,17-2072,"ELECTRONICS ENGINEERS, EXCEPT COMPUTER",335314.0,2.0,Y,65998.0,Year,Level I,OES,2014.0,OFLC ONLINE DATA CENTER,66000 - 70000,Year,N,N,HOUSTON,HARRIS,TX,77088
4,I-200-09189-800933,CERTIFIED,2014-12-17,2014-12-23,H-1B,06/06/2015,06/05/2018,FEDERAL HOME LOAN MORTGAGE CO.,8250 JONES BRANCH DRIVE,MSA3E,MCLEAN,VA,22102,UNITED STATES OF AMERICA,NaN,7.039189e+09,NaN,JAMES ALEXANDER,WASHINGTON,DC,DEVELOPMENT SENIOR,15-1131,COMPUTER PROGRAMMERS,522294.0,1.0,Y,96907.0,Year,Level IV,OES,2014.0,OFLC ONLINE DATA CENTER,97000 - 143300,Year,N,N,MCLEAN,FAIRFAX,VA,22102

In [6]:
h1b_2016 = pd.read_excel('H-1B_Disclosure_Data_FY16.xlsx')
h1b_2016.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL_WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_SOURCE_YEAR,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,I-200-12240-490687,CERTIFIED-WITHDRAWN,2012-08-27,2015-10-16,H-1B,2013-02-25,2016-02-24,UNIVERSITY OF MICHIGAN,"PIERPONT COMMONS, INTERNATIONAL CENTER",ANN ARBOR,MI,48109,UNITED STATES OF AMERICA,NaN,7347634081,NaN,",",NaN,NaN,POSTDOCTORAL RESEARCH FELLOW,10-1021.00,BIOCHEMISTS AND BIOPHYSICISTS,611310.0,1,NaN,36067.00,Year,OES,2012.0,NaN,41000.00,0.0,Year,N,N,ANN ARBOR,WASHTENAW,MI,48109,2012-08-31
1,I-200-13053-847481,CERTIFIED-WITHDRAWN,2013-02-25,2016-01-13,H-1B,2013-08-24,2016-08-23,"GOODMAN NETWORKS, INC.","6400 INTERNATIONAL PARKWAY, SUITE 1000",PLANO,TX,75093,UNITED STATES OF AMERICA,NaN,9724215173,NaN,"HULME, RANDALL",ADDISON,TX,CHIEF OPERATING OFFICER,11-1011,CHIEF EXECUTIVES,238210.0,1,NaN,242674.00,Year,OES,2012.0,OFLC ONLINE DATA CENTER,400000.00,0.0,Year,N,N,PLANO,COLLIN,TX,75093,2013-03-01
2,I-200-13088-054259,CERTIFIED-WITHDRAWN,2013-04-23,2015-12-10,H-1B,2013-04-29,2016-04-28,"PORTS AMERICA GROUP, INC.",525 WASHINGTON BOULEVARD,JERSEY CITY,NJ,07310,UNITED STATES OF AMERICA,NaN,7326353899,NaN,"HENNER, JANET",NEW YORK,NY,CHIEF PROCESS OFFICER,11-1011,CHIEF EXECUTIVES,488310.0,1,NaN,193066.00,Year,OES,2012.0,OFLC ONLINE DATA CENTER,264000.00,451100.0,Year,N,N,JERSEY CITY,HUDSON,NJ,07310,2013-04-29
3,I-200-13144-034110,CERTIFIED-WITHDRAWN,2013-05-24,2016-01-19,H-1B,2013-10-01,2016-09-30,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",1551 WEWATTA STREET,DENVER,CO,80202,UNITED STATES OF AMERICA,NaN,3037444739,NaN,"Shackelford, Andrew",PHOENIX,AZ,"REGIONAL PRESIDEN, AMERICAS",11-1011,CHIEF EXECUTIVES,3363.0,1,NaN,220314.00,Year,OES,2012.0,OFLC ONLINE DATA CENTER,220314.00,600000.0,Year,N,N,DENVER,DENVER,CO,80202,2013-05-29
4,I-200-13172-415116,WITHDRAWN,2013-06-26,2016-05-20,H-1B,2013-10-18,2016-10-17,PEABODY INVESTMENTS CORP.,701 MARKET STREET,ST. LOUIS,MO,63101,UNITED STATES OF AMERICA,NaN,3145883065,NaN,"BAILEY, MICHAEL",ADDISON,TX,PRESIDENT MONGOLIA AND INDIA,11-1011,CHIEF EXECUTIVES,213113.0,1,NaN,75.73,Hour,OES,2012.0,OFLC ONLINE DATA CENTER,171.63,0.0,Hour,N,N,ST. LOUIS,ST. LOUIS,MO,63101,NaT

In [7]:
# Add column for fiscal year visa processed

# 2014
year_2014 = [2014 for x in range(len(h1b_2014))]
h1b_2014['FISCAL_YEAR'] = year_2014

# 2015
year_2015 = [2015 for x in range(len(h1b_2015))]
h1b_2015['FISCAL_YEAR'] = year_2015

# 2016
year_2016 = [2016 for x in range(len(h1b_2016))]
h1b_2016['FISCAL_YEAR'] = year_2016

## Look for differences in columns in all dataframes

In [8]:
print('2014 columns: {}'.format(len(h1b_2014.columns)))
print('2015 columns: {}'.format(len(h1b_2015.columns)))
print('2016 columns: {}'.format(len(h1b_2016.columns)))

2014 columns: 36
2015 columns: 41
2016 columns: 41

In [9]:
def col_diff(cols1, cols2, yr1, yr2):
    ''' Takes two lists of column names and returns all differing columns.'''
    diff = []
    for c in cols2:
        if c not in cols1:
            diff.append(('in ' + str(yr2) + ', missing in ' + str(yr1), c))
    for c in cols1:
        if c not in cols2 and c not in diff:
            diff.append(('in ' + str(yr1) + ', missing in ' + str(yr2), c))
    return diff

In [10]:
# col diff for 2015 and 2016
col_diff(h1b_2015.columns, h1b_2016.columns, 2015, 2016)

[('in 2016, missing in 2015', 'EMPLOYER_ADDRESS'),
 ('in 2016, missing in 2015', 'TOTAL_WORKERS'),
 ('in 2016, missing in 2015', 'PW_SOURCE_YEAR'),
 ('in 2016, missing in 2015', 'PW_SOURCE_OTHER'),
 ('in 2016, missing in 2015', 'WAGE_RATE_OF_PAY_FROM'),
 ('in 2016, missing in 2015', 'WAGE_RATE_OF_PAY_TO'),
 ('in 2016, missing in 2015', 'WILLFUL_VIOLATOR'),
 ('in 2016, missing in 2015', 'ORIGINAL_CERT_DATE'),
 ('in 2015, missing in 2016', 'EMPLOYER_ADDRESS1'),
 ('in 2015, missing in 2016', 'EMPLOYER_ADDRESS2'),
 ('in 2015, missing in 2016', 'TOTAL WORKERS'),
 ('in 2015, missing in 2016', 'PW_WAGE_LEVEL'),
 ('in 2015, missing in 2016', 'PW_WAGE_SOURCE_YEAR'),
 ('in 2015, missing in 2016', 'PW_WAGE_SOURCE_OTHER'),
 ('in 2015, missing in 2016', 'WAGE_RATE_OF_PAY'),
 ('in 2015, missing in 2016', 'WILLFUL VIOLATOR')]

In [11]:
h1b_2016.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL_WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_SOURCE_YEAR,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE,FISCAL_YEAR
0,I-200-12240-490687,CERTIFIED-WITHDRAWN,2012-08-27,2015-10-16,H-1B,2013-02-25,2016-02-24,UNIVERSITY OF MICHIGAN,"PIERPONT COMMONS, INTERNATIONAL CENTER",ANN ARBOR,MI,48109,UNITED STATES OF AMERICA,NaN,7347634081,NaN,",",NaN,NaN,POSTDOCTORAL RESEARCH FELLOW,10-1021.00,BIOCHEMISTS AND BIOPHYSICISTS,611310.0,1,NaN,36067.00,Year,OES,2012.0,NaN,41000.00,0.0,Year,N,N,ANN ARBOR,WASHTENAW,MI,48109,2012-08-31,2016
1,I-200-13053-847481,CERTIFIED-WITHDRAWN,2013-02-25,2016-01-13,H-1B,2013-08-24,2016-08-23,"GOODMAN NETWORKS, INC.","6400 INTERNATIONAL PARKWAY, SUITE 1000",PLANO,TX,75093,UNITED STATES OF AMERICA,NaN,9724215173,NaN,"HULME, RANDALL",ADDISON,TX,CHIEF OPERATING OFFICER,11-1011,CHIEF EXECUTIVES,238210.0,1,NaN,242674.00,Year,OES,2012.0,OFLC ONLINE DATA CENTER,400000.00,0.0,Year,N,N,PLANO,COLLIN,TX,75093,2013-03-01,2016
2,I-200-13088-054259,CERTIFIED-WITHDRAWN,2013-04-23,2015-12-10,H-1B,2013-04-29,2016-04-28,"PORTS AMERICA GROUP, INC.",525 WASHINGTON BOULEVARD,JERSEY CITY,NJ,07310,UNITED STATES OF AMERICA,NaN,7326353899,NaN,"HENNER, JANET",NEW YORK,NY,CHIEF PROCESS OFFICER,11-1011,CHIEF EXECUTIVES,488310.0,1,NaN,193066.00,Year,OES,2012.0,OFLC ONLINE DATA CENTER,264000.00,451100.0,Year,N,N,JERSEY CITY,HUDSON,NJ,07310,2013-04-29,2016
3,I-200-13144-034110,CERTIFIED-WITHDRAWN,2013-05-24,2016-01-19,H-1B,2013-10-01,2016-09-30,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",1551 WEWATTA STREET,DENVER,CO,80202,UNITED STATES OF AMERICA,NaN,3037444739,NaN,"Shackelford, Andrew",PHOENIX,AZ,"REGIONAL PRESIDEN, AMERICAS",11-1011,CHIEF EXECUTIVES,3363.0,1,NaN,220314.00,Year,OES,2012.0,OFLC ONLINE DATA CENTER,220314.00,600000.0,Year,N,N,DENVER,DENVER,CO,80202,2013-05-29,2016
4,I-200-13172-415116,WITHDRAWN,2013-06-26,2016-05-20,H-1B,2013-10-18,2016-10-17,PEABODY INVESTMENTS CORP.,701 MARKET STREET,ST. LOUIS,MO,63101,UNITED STATES OF AMERICA,NaN,3145883065,NaN,"BAILEY, MICHAEL",ADDISON,TX,PRESIDENT MONGOLIA AND INDIA,11-1011,CHIEF EXECUTIVES,213113.0,1,NaN,75.73,Hour,OES,2012.0,OFLC ONLINE DATA CENTER,171.63,0.0,Hour,N,N,ST. LOUIS,ST. LOUIS,MO,63101,NaT,2016

In [12]:
h1b_2015.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS1,EMPLOYER_ADDRESS2,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_LEVEL,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,FISCAL_YEAR
0,I-200-09121-701936,WITHDRAWN,2015-02-05,2015-02-05,H-1B,02/09/2015,02/28/2015,"MEDTRONIC, INC.",710 MEDTRONIC PARKWAY NE,NaN,MINNEAPOLIS,MN,55432,UNITED STATES OF AMERICA,NaN,7.635053e+09,NaN,DEBRA SCHNEIDER,MINNEAPOLIS,MN,MECHANICAL ENGINEER,17-2141.00,MECHANICAL ENGINEERS,334510.0,1.0,Y,19000.0,Year,Level I,OES,2014.0,ONLINE DATA SURVEY,20000 -,Year,N,N,EDEN PRAIRIE,STERNS,CA,55412,2015
1,I-200-09146-796321,CERTIFIED,2014-12-12,2014-12-18,H-1B,01/05/2015,01/04/2018,UNIVERSITY OF OKLAHOMA,905 ASP AVE,NEL BLDG 207,NORMAN,OK,73019,UNITED STATES OF AMERICA,NaN,4.053252e+09,NaN,NaN,NaN,NaN,ASSISTANT PROFESSOR,25-1032,"ENGINEERING TEACHERS, POSTSECONDARY",611310.0,1.0,Y,42860.0,Year,Level I,Other,2014.0,OFLC ONLINE DATA CENTER,85000.00 -,Year,N,N,NORMAN,CLEVELAND,OK,73019,2015
2,I-200-09180-329758,WITHDRAWN,2013-01-03,2014-12-15,H-1B,01/07/2013,01/06/2016,NOKIA INC.,6021 CONNECTION DRIVE,NaN,IRVING,TX,75039,UNITED STATES OF AMERICA,NaN,9.728945e+09,NaN,HASEENA ENU,DALLAS,TX,RELEASE AND SOFTWARE TEST MANAGER,15-1799,"COMPUTER OCCUPATIONS, ALL OTHER*",517212.0,1.0,Y,73965.0,Year,Level II,OES,2012.0,OFLC ONLINE DATA CENTER,94000 -,Year,N,N,SAN DIEGO,SAN DIEGO,CA,92127,2015
3,I-200-09183-259985,CERTIFIED,2015-03-10,2015-03-16,H-1B,09/07/2015,09/07/2018,"OMRON OILFIELD AND MARINE, INC.",9510 N. HOUSTON ROSSLYN ROAD,NaN,HOUSTON,TX,77088,UNITED STATES OF AMERICA,NaN,7.138492e+09,NaN,ELDON KAKUDA,SCHAUMBURG,IL,CONTROL ENGINEERING SPECIALIST,17-2072,"ELECTRONICS ENGINEERS, EXCEPT COMPUTER",335314.0,2.0,Y,65998.0,Year,Level I,OES,2014.0,OFLC ONLINE DATA CENTER,66000 - 70000,Year,N,N,HOUSTON,HARRIS,TX,77088,2015
4,I-200-09189-800933,CERTIFIED,2014-12-17,2014-12-23,H-1B,06/06/2015,06/05/2018,FEDERAL HOME LOAN MORTGAGE CO.,8250 JONES BRANCH DRIVE,MSA3E,MCLEAN,VA,22102,UNITED STATES OF AMERICA,NaN,7.039189e+09,NaN,JAMES ALEXANDER,WASHINGTON,DC,DEVELOPMENT SENIOR,15-1131,COMPUTER PROGRAMMERS,522294.0,1.0,Y,96907.0,Year,Level IV,OES,2014.0,OFLC ONLINE DATA CENTER,97000 - 143300,Year,N,N,MCLEAN,FAIRFAX,VA,22102,2015

In [13]:
# Merge data frames from 2015 and 2016
# rename columns to match 
h1b_2016.columns

Index(['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYER_NAME', 'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_STATE',
       'EMPLOYER_POSTAL_CODE', 'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE',
       'EMPLOYER_PHONE', 'EMPLOYER_PHONE_EXT', 'AGENT_ATTORNEY_NAME',
       'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE', 'JOB_TITLE', 'SOC_CODE',
       'SOC_NAME', 'NAIC_CODE', 'TOTAL_WORKERS', 'FULL_TIME_POSITION',
       'PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'PW_WAGE_SOURCE', 'PW_SOURCE_YEAR',
       'PW_SOURCE_OTHER', 'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO',
       'WAGE_UNIT_OF_PAY', 'H-1B_DEPENDENT', 'WILLFUL_VIOLATOR',
       'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_STATE',
       'WORKSITE_POSTAL_CODE', 'ORIGINAL_CERT_DATE', 'FISCAL_YEAR'],
      dtype='object')

In [14]:
h1b_2015.columns

Index(['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYER_NAME', 'EMPLOYER_ADDRESS1', 'EMPLOYER_ADDRESS2',
       'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE',
       'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE',
       'EMPLOYER_PHONE_EXT', 'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_CITY',
       'AGENT_ATTORNEY_STATE', 'JOB_TITLE', 'SOC_CODE', 'SOC_NAME',
       'NAIC_CODE', 'TOTAL WORKERS', 'FULL_TIME_POSITION', 'PREVAILING_WAGE',
       'PW_UNIT_OF_PAY', 'PW_WAGE_LEVEL', 'PW_WAGE_SOURCE',
       'PW_WAGE_SOURCE_YEAR', 'PW_WAGE_SOURCE_OTHER', 'WAGE_RATE_OF_PAY',
       'WAGE_UNIT_OF_PAY', 'H-1B_DEPENDENT', 'WILLFUL VIOLATOR',
       'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_STATE',
       'WORKSITE_POSTAL_CODE', 'FISCAL_YEAR'],
      dtype='object')

In [15]:
columns_2016 = ['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYER_NAME', 'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_STATE',
       'EMPLOYER_POSTAL_CODE', 'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE',
       'EMPLOYER_PHONE', 'EMPLOYER_PHONE_EXT', 'AGENT_ATTORNEY_NAME',
       'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE', 'JOB_TITLE', 'SOC_CODE',
       'SOC_NAME', 'NAIC_CODE', 'TOTAL_WORKERS', 'FULL_TIME_POSITION',
       'PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'PW_WAGE_SOURCE', 'PW_SOURCE_YEAR',
       'PW_SOURCE_OTHER', 'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO',
       'WAGE_UNIT_OF_PAY', 'H-1B_DEPENDENT', 'WILLFUL_VIOLATOR',
       'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_STATE',
       'WORKSITE_POSTAL_CODE', 'ORIGINAL_CERT_DATE', 'FISCAL_YEAR']

In [16]:
columns_2015 = ['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYER_NAME', 'EMPLOYER_ADDRESS1', 'EMPLOYER_ADDRESS2',
       'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE',
       'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE',
       'EMPLOYER_PHONE_EXT', 'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_CITY',
       'AGENT_ATTORNEY_STATE', 'JOB_TITLE', 'SOC_CODE', 'SOC_NAME',
       'NAIC_CODE', 'TOTAL WORKERS', 'FULL_TIME_POSITION', 'PREVAILING_WAGE',
       'PW_UNIT_OF_PAY', 'PW_WAGE_LEVEL', 'PW_WAGE_SOURCE',
       'PW_WAGE_SOURCE_YEAR', 'PW_WAGE_SOURCE_OTHER', 'WAGE_RATE_OF_PAY',
       'WAGE_UNIT_OF_PAY', 'H-1B_DEPENDENT', 'WILLFUL VIOLATOR',
       'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_STATE',
       'WORKSITE_POSTAL_CODE', 'FISCAL_YEAR']

In [17]:
# col diff for 2015 and 2016
col_diff(h1b_2015.columns, h1b_2016.columns, 2015, 2016)

[('in 2016, missing in 2015', 'EMPLOYER_ADDRESS'),
 ('in 2016, missing in 2015', 'TOTAL_WORKERS'),
 ('in 2016, missing in 2015', 'PW_SOURCE_YEAR'),
 ('in 2016, missing in 2015', 'PW_SOURCE_OTHER'),
 ('in 2016, missing in 2015', 'WAGE_RATE_OF_PAY_FROM'),
 ('in 2016, missing in 2015', 'WAGE_RATE_OF_PAY_TO'),
 ('in 2016, missing in 2015', 'WILLFUL_VIOLATOR'),
 ('in 2016, missing in 2015', 'ORIGINAL_CERT_DATE'),
 ('in 2015, missing in 2016', 'EMPLOYER_ADDRESS1'),
 ('in 2015, missing in 2016', 'EMPLOYER_ADDRESS2'),
 ('in 2015, missing in 2016', 'TOTAL WORKERS'),
 ('in 2015, missing in 2016', 'PW_WAGE_LEVEL'),
 ('in 2015, missing in 2016', 'PW_WAGE_SOURCE_YEAR'),
 ('in 2015, missing in 2016', 'PW_WAGE_SOURCE_OTHER'),
 ('in 2015, missing in 2016', 'WAGE_RATE_OF_PAY'),
 ('in 2015, missing in 2016', 'WILLFUL VIOLATOR')]

In [18]:
# Merge employer_address1 and employer_address2 columns in 2015 df 
# most values are NaN, only append actual values
# drop employer_address2 
h1b_2015['EMPLOYER_ADDRESS2'] = h1b_2015.EMPLOYER_ADDRESS2.fillna('')
EMPLOYER_ADDRESS = h1b_2015['EMPLOYER_ADDRESS1'].map(str) + ' ' + h1b_2015['EMPLOYER_ADDRESS2'].map(str)
h1b_2015['EMPLOYER_ADDRESS1'] = EMPLOYER_ADDRESS
h1b_2015.drop(['EMPLOYER_ADDRESS2'], axis = 1, inplace = True)

In [19]:
# col diff for 2015 and 2016
col_diff(h1b_2015.columns, h1b_2016.columns, 2015, 2016)
# differing column names with same data: PW_SOURCE_YEAR/PW_WAGE_SOURCE_YEAR, PW_SOURCE_OTHER/PW_WAGE_SOURCE_OTHER

[('in 2016, missing in 2015', 'EMPLOYER_ADDRESS'),
 ('in 2016, missing in 2015', 'TOTAL_WORKERS'),
 ('in 2016, missing in 2015', 'PW_SOURCE_YEAR'),
 ('in 2016, missing in 2015', 'PW_SOURCE_OTHER'),
 ('in 2016, missing in 2015', 'WAGE_RATE_OF_PAY_FROM'),
 ('in 2016, missing in 2015', 'WAGE_RATE_OF_PAY_TO'),
 ('in 2016, missing in 2015', 'WILLFUL_VIOLATOR'),
 ('in 2016, missing in 2015', 'ORIGINAL_CERT_DATE'),
 ('in 2015, missing in 2016', 'EMPLOYER_ADDRESS1'),
 ('in 2015, missing in 2016', 'TOTAL WORKERS'),
 ('in 2015, missing in 2016', 'PW_WAGE_LEVEL'),
 ('in 2015, missing in 2016', 'PW_WAGE_SOURCE_YEAR'),
 ('in 2015, missing in 2016', 'PW_WAGE_SOURCE_OTHER'),
 ('in 2015, missing in 2016', 'WAGE_RATE_OF_PAY'),
 ('in 2015, missing in 2016', 'WILLFUL VIOLATOR')]

In [20]:
zeroes = h1b_2016.WAGE_RATE_OF_PAY_TO.value_counts(dropna=False)
total_values = len(h1b_2016.WAGE_RATE_OF_PAY_TO)
prop_zeros = zeroes/total_values # drop column - does not exist in other 2 years' data, and 78% of values are 0

In [21]:
h1b_2016.drop(['WAGE_RATE_OF_PAY_TO'], axis = 1, inplace = True)

In [22]:
# Replace column names to match 2016 namess
h1b_2015.columns = ['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYER_NAME', 'EMPLOYER_ADDRESS',
       'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE',
       'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE',
       'EMPLOYER_PHONE_EXT', 'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_CITY',
       'AGENT_ATTORNEY_STATE', 'JOB_TITLE', 'SOC_CODE', 'SOC_NAME',
       'NAIC_CODE', 'TOTAL_WORKERS', 'FULL_TIME_POSITION', 'PREVAILING_WAGE',
       'PW_UNIT_OF_PAY', 'PW_WAGE_LEVEL', 'PW_WAGE_SOURCE',
       'PW_WAGE_SOURCE_YEAR', 'PW_WAGE_SOURCE_OTHER', 'WAGE_RATE_OF_PAY',
       'WAGE_UNIT_OF_PAY', 'H-1B_DEPENDENT', 'WILLFUL_VIOLATOR',
       'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_STATE',
       'WORKSITE_POSTAL_CODE', 'FISCAL_YEAR']

In [23]:
# Replace column names to match 2015 namess PW_WAGE_SOURCE_OTHER and YEAR, WAGE_RATE_OF_PAY
h1b_2016.columns = ['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYER_NAME', 'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_STATE',
       'EMPLOYER_POSTAL_CODE', 'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE',
       'EMPLOYER_PHONE', 'EMPLOYER_PHONE_EXT', 'AGENT_ATTORNEY_NAME',
       'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE', 'JOB_TITLE', 'SOC_CODE',
       'SOC_NAME', 'NAIC_CODE', 'TOTAL_WORKERS', 'FULL_TIME_POSITION',
       'PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'PW_WAGE_SOURCE', 'PW_WAGE_SOURCE_YEAR',
       'PW_WAGE_SOURCE_OTHER', 'WAGE_RATE_OF_PAY',
       'WAGE_UNIT_OF_PAY', 'H-1B_DEPENDENT', 'WILLFUL_VIOLATOR',
       'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_STATE',
       'WORKSITE_POSTAL_CODE', 'ORIGINAL_CERT_DATE', 'FISCAL_YEAR']

In [24]:
og_cert_dates = h1b_2016.ORIGINAL_CERT_DATE.value_counts(dropna=False)
og_cert_dates.head()

NaT           600760
2016-03-17       704
2016-03-16       689
2016-03-24       684
2016-02-25       644
Name: ORIGINAL_CERT_DATE, dtype: int64

In [25]:
# drop ORIGINAL_CERT_DATE column from h1b_2016 since doesn't exist in 2014 and 2015 dfs
h1b_2016.drop(['ORIGINAL_CERT_DATE'], axis = 1, inplace = True)

In [26]:
# drop PW_WAGE_LEVEL column from h1b_2015 since doesn't exist in 2014 and 2015 dfs
h1b_2015.drop(['PW_WAGE_LEVEL'], axis = 1, inplace = True)

In [27]:
# Now that 2015 and 2016 dfs have the same number of columns with the same names, merge them into 1 df
print('2015 columns: {}'.format(len(h1b_2015.columns)))
print('2016 columns: {}'.format(len(h1b_2016.columns)))

2015 columns: 39
2016 columns: 39

## Check summary statistics to verify datatypes - want to preserve data when merging dataframes and drop any unecessary columns
> ## Employer Province - NaN's in .head() and already have employer state column

In [28]:
h1b_2015.EMPLOYER_PROVINCE.value_counts(dropna=False).head(50)

NaN                 610044
MIDDLESEX             1694
CALIFORNIA             938
NEW JERSEY             510
BALTIMORE COUNTY       422
ALAMEDA                394
COOK                   341
SANTA CLARA            277
MERCER                 272
NEW YORK               245
USA                    222
MONROE                 210
(201) 336-9431         204
WAKE COUNTY            180
NEW HAVEN COUNTY       154
LOUDOUN                125
WASHINGTON             114
MASSACHUSETTS          102
SOMERSET                93
HARTFORD COUNTY         93
WORCESTER               88
COBB COUNTY             81
CT                      80
888-418-8440            78
NONE                    77
ORLEANS                 71
KING                    53
FAIRFAX COUNTY          52
MICHIGAN                52
SAN FRANCISCO           51
FRANKLIN                51
ALAMEDA COUNTY          49
UTAH                    48
OAKLAND                 41
QUEENS                  39
CONTRA COSTA            39
WILL COUNTY             36
MN                      36
DALLAS                  35
HARRIS                  34
CA                      33
SARATOGA                29
TEXAS                   26
MORRIS COUNTY           26
SUFFOLK                 24
NJ                      24
MONMOUTH COUNTY         21
ORLEANS PARISH          19
NY                      19
95118                   17
Name: EMPLOYER_PROVINCE, dtype: int64

In [29]:
# Spot check a few values that aren't expected to see if pattern in unexpected data
h1b_2015[h1b_2015['EMPLOYER_PROVINCE'] == '2023673015'] # 2 phones numbers

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL_WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,FISCAL_YEAR
617018,I-203-15202-972336,CERTIFIED,2015-07-24,2015-07-30,E-3 Australian,08/24/2015,08/23/2017,CARTICA MANAGEMENT LLC,"1775 I STREET NW, SUITE 900",WASHINGTON,DC,20006,UNITED STATES OF AMERICA,2023673015,2.023673e+09,NaN,ZJANTELLE CAMMISA,NEW YORK,NY,INVESTMENT ANALYST,13-2051,FINANCIAL ANALYSTS,523930.0,1.0,Y,120078.0,Year,OES,2015.0,OFLC ONLINE DATA CENTER,150000 -,Year,NaN,NaN,WASHINGTON,DISTRICT OF COLUMBIA,DC,20006,2015

In [30]:
h1b_2015[h1b_2015['EMPLOYER_PROVINCE'] == '45-4094520'] # no apparent relation to neighboring columns

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL_WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,FISCAL_YEAR
429722,I-200-15112-157929,CERTIFIED,2015-04-24,2015-04-30,H-1B,10/09/2015,10/09/2018,"SOURCE HEALTHCARE ANALYTICS LLC, A SYMPHONY HE...",2390 E. CAMELBACK ROAD,PHOENIX,AZ,85016,UNITED STATES OF AMERICA,45-4094520,6.023819e+09,NaN,ANNA MORZY,CHICAGO,IL,APPLICATIONS DEVELOPER,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",511210.0,1.0,Y,73258.0,Year,OES,2014.0,OFLC ONLINE DATA CENTER,105000 -,Year,N,N,PHOENIX,MARICOPA,AZ,85016,2015

In [31]:
h1b_2015[h1b_2015['EMPLOYER_PROVINCE'] == '94086'] # duplicate from postal_code column

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL_WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,FISCAL_YEAR
580266,I-200-15239-774167,CERTIFIED,2015-09-08,2015-09-14,H-1B,09/08/2015,09/07/2018,SPRINGPATH INC.,640 W CALIFORNIA AVENUE SUITE 110,SUNNYVALE,CA,94086,UNITED STATES OF AMERICA,94086,6.697774e+09,NaN,LIHUA TAN,SANTA CLARA,CA,MEMBER OF TECHNICAL STAFF,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",54151.0,1.0,Y,98342.0,Year,OES,2015.0,OFLC ONLINE DATA CENTER,98342.00 - 130000.00,Year,Y,N,SUNNYVALE,SANTA CLARA,CA,94086,2015

In [32]:
h1b_2015[h1b_2015['EMPLOYER_PROVINCE'] == '(617) 516-2017'] # second phone number

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL_WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,FISCAL_YEAR
2125,I-200-12100-794920,WITHDRAWN,2012-05-07,2014-12-31,H-1B,09/16/2012,09/15/2015,"BAIN CAPITAL, LLC",200 CLARENDON STREET,BOSTON,MA,02116,UNITED STATES OF AMERICA,(617) 516-2017,6.175162e+09,NaN,Gunnar Sievert,BOSTON,MA,ASSOCIATE,13-2051,FINANCIAL ANALYSTS,525910.0,1.0,Y,114650.0,Year,OES,2012.0,OFLC ONLINE DATA CENTER,175000 - 210000,Year,N,N,BOSTON,SUFFOLK,MA,02116,2015

In [33]:
h1b_2015[h1b_2015['EMPLOYER_PROVINCE'] == 'THE CALIFORNIA SERVICE CENTER HAS APPROVED THE FO'] # unknown

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL_WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,FISCAL_YEAR
10845,I-200-13198-504814,CERTIFIED-WITHDRAWN,2013-07-17,2015-01-13,H-1B,12/01/2013,11/30/2016,GENERAL HOSPITAL CORPORATION,PARTNERS INTERNATIONAL OFFICE 101 MERRIMAC ST,BOSTON,MA,02114,UNITED STATES OF AMERICA,THE CALIFORNIA SERVICE CENTER HAS APPROVED THE FO,6.177269e+09,NaN,NaN,NaN,NaN,RESEARCH FELLOW,19-1042,"MEDICAL SCIENTISTS, EXCEPT EPIDEMIOLOGISTS",622110.0,1.0,Y,41309.0,Year,OES,2013.0,OFLC ONLINE DATA CENTER,46342.00 -,Year,N,N,BOSTON,SUFFOLK,MA,02114,2015

In [34]:
h1b_2016.EMPLOYER_PROVINCE.value_counts(dropna=False).head(50)

NaN                 640180
MIDDLESEX             1606
CALIFORNIA             643
ALAMEDA                450
NEW JERSEY             322
USA                    303
COOK                   297
MICHIGAN               288
SANTA CLARA            282
NEW YORK               194
LOUDOUN                180
WASHINGTON             168
HARTFORD COUNTY        164
MONROE                 134
NEW HAVEN COUNTY       129
SAN FRANCISCO          125
MASSACHUSETTS          120
WORCESTER              109
SARATOGA                81
HARRIS                  75
ORLEANS                 68
OAKLAND                 67
GWINNETT                67
NONE                    66
CT                      60
CAMDEN COUNTY           59
GA                      58
MERCER                  57
UTAH                    56
95118                   48
DALLAS                  47
WAKE COUNTY             42
SOMERSET                42
FAIRFAX COUNTY          40
ORLEANS PARISH          40
MIDDLESEX COUNTY        39
OHIO                    30
ROCKINGHAM              30
FORSYTH COUNTY          30
CA                      29
94538                   28
MORRIS COUNTY           25
US                      21
MN                      21
QUEENS                  20
888-418-8440            19
732-515-7394            19
NJ                      18
WILL COUNTY             17
KANAWHA                 17
Name: EMPLOYER_PROVINCE, dtype: int64

In [35]:
h1b_2016[h1b_2016['EMPLOYER_PROVINCE'] == '22312'] # no obvious relation to neighboring columns, not postal code

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL_WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,FISCAL_YEAR
233772,I-200-16063-904688,CERTIFIED,2016-03-03,2016-03-09,H-1B,2016-08-29,2019-08-28,ABEYON LLC,5285 SHAWNEE RD,ALEXANDRIA,VA,11354,UNITED STATES OF AMERICA,22312,7038694237,NaN,"HAN, LI",FLUSHING,NY,COMPUTER PROGRAMMER,15-1131,COMPUTER PROGRAMMERS,541511.0,1,NaN,29.11,Hour,Other,2015.0,OFLC ONLINE DATA CENTER,31.63,Hour,N,N,ALEXANDRIA,NaN,VA,22312,2016

In [36]:
h1b_2016[h1b_2016['EMPLOYER_PROVINCE'] == '(248) 362-5110'] # duplicate phone number

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL_WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,FISCAL_YEAR
526094,I-200-16078-197671,WITHDRAWN,2016-03-18,2016-03-18,H-1B,2016-09-09,2019-09-08,MUNRO & ASSOCIATES INC.,1140 CENTRE RD.,AUBURN HILLS,MI,48326,UNITED STATES OF AMERICA,(248) 362-5110,2483625110,NaN,"ZHANG, JIANHUA",HOUSTON,TX,STATISTIAN,15-2041,STATISTICIANS,541330.0,1,NaN,63918.0,Year,Other,2016.0,OFLC ONLINE DATA CENTER,63918.0,Year,N,N,AUBURN HILLS,OAKLAND COUNTY,MI,48326,2016

In [37]:
h1b_2016[h1b_2016['EMPLOYER_PROVINCE'] == '22-2407815'] # unclear what this is - not like the phone number

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL_WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,FISCAL_YEAR
60441,I-200-16074-901827,CERTIFIED,2016-03-14,2016-03-18,H-1B,2016-09-09,2019-09-08,"PARITZ & COMPANY, P.A.",15 WARREN STREET,HACKENSACK,NJ,07601,UNITED STATES OF AMERICA,22-2407815,2013427753,NaN,"ZHANG, JIANHUA",HOUSTON,TX,ACCOUNTANT,13-2011,ACCOUNTANTS AND AUDITORS,541211.0,1,NaN,55370.0,Year,Other,2016.0,OFLC ONLINE DATA CENTER,56000.0,Year,N,N,HACKENSACK,BERGEN COUNTY,NJ,07601,2016

In [38]:
h1b_2016[h1b_2016['EMPLOYER_PROVINCE'] == '9741'] # unclear what this is - not postal code

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL_WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,FISCAL_YEAR
15519,I-200-16041-528725,CERTIFIED,2016-02-12,2016-02-19,H-1B,2016-08-10,2019-08-10,AMCOR RIGID PLASTICS USA LLC,935 TECHNOLOGY DRIVE,ANN ARBOR,MI,48108,UNITED STATES OF AMERICA,9741,7344289741,NaN,"PARRILLI, TIFANI",PORTLAND,OR,TECHNICAL MANAGER,11-3051,INDUSTRIAL PRODUCTION MANAGERS,3261.0,1,NaN,112986.0,Year,OES,2015.0,OFLC ONLINE DATA CENTER,112986.0,Year,N,N,MILLVILLE,CUMBERLAND,NJ,08332,2016

In [39]:
h1b_2016[h1b_2016['EMPLOYER_PROVINCE'] == 'PROGRAMMER ANALYST/JAVA'] # duplicate job_title column

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL_WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,FISCAL_YEAR
323128,I-200-16055-317068,CERTIFIED,2016-02-24,2016-03-01,H-1B,2016-04-06,2019-04-05,"OASYS TECHNOLOGIES, INC",2121 CLIFF DRIVE,EAGAN,MN,55122,UNITED STATES OF AMERICA,PROGRAMMER ANALYST/JAVA,6512340099,NaN,"ALEMU, SAMUEL",SCHAUMBURG,IL,PROGRAMMER ANALYST/JAVA,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",541511.0,1,NaN,78395.0,Year,OES,2015.0,OFLC ONLINE DATA CENTER,79610.0,Year,Y,N,EAGAN,DAKOTA,MN,55122,2016
339762,I-200-16069-741658,CERTIFIED,2016-03-09,2016-03-16,H-1B,2016-07-05,2019-07-05,"OASYS TECHNOLOGIES, INC",2121 CLIFF DRIVE,EAGAN,MN,55122,UNITED STATES OF AMERICA,PROGRAMMER ANALYST/JAVA,6512340099,NaN,"ALEMU, SAMUEL",SCHAUMBURG,IL,PROGRAMMER ANALYST/.NET,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",541511.0,1,NaN,78395.0,Year,OES,2015.0,OFLC ONLINE DATA CENTER,78395.0,Year,Y,N,EAGAN,DAKOTA,MN,55122,2016
339942,I-200-16069-853323,CERTIFIED,2016-03-09,2016-03-16,H-1B,2016-07-05,2019-07-05,"OASYS TECHNOLOGIES, INC",2121 CLIFF DRIVE,EAGAN,MN,55122,UNITED STATES OF AMERICA,PROGRAMMER ANALYST/JAVA,6512340099,NaN,"ALEMU, SAMUEL",SCHAUMBURG,IL,PROGRAMMER ANALYST/.NET,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",541511.0,1,NaN,78395.0,Year,OES,2015.0,OFLC ONLINE DATA CENTER,78395.0,Year,Y,N,EAGAN,DAKOTA,MN,55122,2016
360130,I-200-16084-806598,CERTIFIED,2016-03-24,2016-03-30,H-1B,2016-03-24,2019-03-24,"OASYS TECHNOLOGIES, INC",2121 CLIFF DRIVE,EAGAN,MN,55122,UNITED STATES OF AMERICA,PROGRAMMER ANALYST/JAVA,6512340099,NaN,"ALEMU, SAMUEL",SCHAUMBURG,IL,PROGRAMMER ANALYST/FILENET,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",541511.0,1,NaN,64126.0,Year,OES,2015.0,OFLC ONLINE DATA CENTER,64126.0,Year,Y,N,EAGAN,DAKOTA,MN,55122,2016
484179,I-200-16074-997599,CERTIFIED,2016-03-14,2016-03-18,H-1B,2016-09-10,2019-09-10,"OASYS TECHNOLOGIES, INC",2121 CLIFF DRIVE,EAGAN,MN,55122,UNITED STATES OF AMERICA,PROGRAMMER ANALYST/JAVA,6512340099,NaN,"ALEMU, SAMUEL",SCHAUMBURG,IL,IT PROJECT MANAGER,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",541511.0,1,NaN,77750.0,Year,OES,2015.0,OFLC ONLINE DATA CENTER,77750.0,Year,Y,N,EAGAN,DAKOTA,MN,55122,2016

In [40]:
# no apparent pattern in unusual data, drop column in both years
h1b_2015.drop(['EMPLOYER_PROVINCE'], axis = 1, inplace = True)
h1b_2016.drop(['EMPLOYER_PROVINCE'], axis = 1, inplace = True)

> ## Drop EMPLOYER_PHONE_EXT and EMPLOYER_PHONE since not present in h1b_2014

In [41]:
h1b_2015.drop(['EMPLOYER_PHONE'], axis = 1, inplace = True)
h1b_2015.drop(['EMPLOYER_PHONE_EXT'], axis = 1, inplace = True)
h1b_2015.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL_WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,FISCAL_YEAR
0,I-200-09121-701936,WITHDRAWN,2015-02-05,2015-02-05,H-1B,02/09/2015,02/28/2015,"MEDTRONIC, INC.",710 MEDTRONIC PARKWAY NE,MINNEAPOLIS,MN,55432,UNITED STATES OF AMERICA,DEBRA SCHNEIDER,MINNEAPOLIS,MN,MECHANICAL ENGINEER,17-2141.00,MECHANICAL ENGINEERS,334510.0,1.0,Y,19000.0,Year,OES,2014.0,ONLINE DATA SURVEY,20000 -,Year,N,N,EDEN PRAIRIE,STERNS,CA,55412,2015
1,I-200-09146-796321,CERTIFIED,2014-12-12,2014-12-18,H-1B,01/05/2015,01/04/2018,UNIVERSITY OF OKLAHOMA,905 ASP AVE NEL BLDG 207,NORMAN,OK,73019,UNITED STATES OF AMERICA,NaN,NaN,NaN,ASSISTANT PROFESSOR,25-1032,"ENGINEERING TEACHERS, POSTSECONDARY",611310.0,1.0,Y,42860.0,Year,Other,2014.0,OFLC ONLINE DATA CENTER,85000.00 -,Year,N,N,NORMAN,CLEVELAND,OK,73019,2015
2,I-200-09180-329758,WITHDRAWN,2013-01-03,2014-12-15,H-1B,01/07/2013,01/06/2016,NOKIA INC.,6021 CONNECTION DRIVE,IRVING,TX,75039,UNITED STATES OF AMERICA,HASEENA ENU,DALLAS,TX,RELEASE AND SOFTWARE TEST MANAGER,15-1799,"COMPUTER OCCUPATIONS, ALL OTHER*",517212.0,1.0,Y,73965.0,Year,OES,2012.0,OFLC ONLINE DATA CENTER,94000 -,Year,N,N,SAN DIEGO,SAN DIEGO,CA,92127,2015
3,I-200-09183-259985,CERTIFIED,2015-03-10,2015-03-16,H-1B,09/07/2015,09/07/2018,"OMRON OILFIELD AND MARINE, INC.",9510 N. HOUSTON ROSSLYN ROAD,HOUSTON,TX,77088,UNITED STATES OF AMERICA,ELDON KAKUDA,SCHAUMBURG,IL,CONTROL ENGINEERING SPECIALIST,17-2072,"ELECTRONICS ENGINEERS, EXCEPT COMPUTER",335314.0,2.0,Y,65998.0,Year,OES,2014.0,OFLC ONLINE DATA CENTER,66000 - 70000,Year,N,N,HOUSTON,HARRIS,TX,77088,2015
4,I-200-09189-800933,CERTIFIED,2014-12-17,2014-12-23,H-1B,06/06/2015,06/05/2018,FEDERAL HOME LOAN MORTGAGE CO.,8250 JONES BRANCH DRIVE MSA3E,MCLEAN,VA,22102,UNITED STATES OF AMERICA,JAMES ALEXANDER,WASHINGTON,DC,DEVELOPMENT SENIOR,15-1131,COMPUTER PROGRAMMERS,522294.0,1.0,Y,96907.0,Year,OES,2014.0,OFLC ONLINE DATA CENTER,97000 - 143300,Year,N,N,MCLEAN,FAIRFAX,VA,22102,2015

In [42]:
h1b_2016.drop(['EMPLOYER_PHONE'], axis = 1, inplace = True)
h1b_2016.drop(['EMPLOYER_PHONE_EXT'], axis = 1, inplace = True)
h1b_2016.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL_WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,FISCAL_YEAR
0,I-200-12240-490687,CERTIFIED-WITHDRAWN,2012-08-27,2015-10-16,H-1B,2013-02-25,2016-02-24,UNIVERSITY OF MICHIGAN,"PIERPONT COMMONS, INTERNATIONAL CENTER",ANN ARBOR,MI,48109,UNITED STATES OF AMERICA,",",NaN,NaN,POSTDOCTORAL RESEARCH FELLOW,10-1021.00,BIOCHEMISTS AND BIOPHYSICISTS,611310.0,1,NaN,36067.00,Year,OES,2012.0,NaN,41000.00,Year,N,N,ANN ARBOR,WASHTENAW,MI,48109,2016
1,I-200-13053-847481,CERTIFIED-WITHDRAWN,2013-02-25,2016-01-13,H-1B,2013-08-24,2016-08-23,"GOODMAN NETWORKS, INC.","6400 INTERNATIONAL PARKWAY, SUITE 1000",PLANO,TX,75093,UNITED STATES OF AMERICA,"HULME, RANDALL",ADDISON,TX,CHIEF OPERATING OFFICER,11-1011,CHIEF EXECUTIVES,238210.0,1,NaN,242674.00,Year,OES,2012.0,OFLC ONLINE DATA CENTER,400000.00,Year,N,N,PLANO,COLLIN,TX,75093,2016
2,I-200-13088-054259,CERTIFIED-WITHDRAWN,2013-04-23,2015-12-10,H-1B,2013-04-29,2016-04-28,"PORTS AMERICA GROUP, INC.",525 WASHINGTON BOULEVARD,JERSEY CITY,NJ,07310,UNITED STATES OF AMERICA,"HENNER, JANET",NEW YORK,NY,CHIEF PROCESS OFFICER,11-1011,CHIEF EXECUTIVES,488310.0,1,NaN,193066.00,Year,OES,2012.0,OFLC ONLINE DATA CENTER,264000.00,Year,N,N,JERSEY CITY,HUDSON,NJ,07310,2016
3,I-200-13144-034110,CERTIFIED-WITHDRAWN,2013-05-24,2016-01-19,H-1B,2013-10-01,2016-09-30,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",1551 WEWATTA STREET,DENVER,CO,80202,UNITED STATES OF AMERICA,"Shackelford, Andrew",PHOENIX,AZ,"REGIONAL PRESIDEN, AMERICAS",11-1011,CHIEF EXECUTIVES,3363.0,1,NaN,220314.00,Year,OES,2012.0,OFLC ONLINE DATA CENTER,220314.00,Year,N,N,DENVER,DENVER,CO,80202,2016
4,I-200-13172-415116,WITHDRAWN,2013-06-26,2016-05-20,H-1B,2013-10-18,2016-10-17,PEABODY INVESTMENTS CORP.,701 MARKET STREET,ST. LOUIS,MO,63101,UNITED STATES OF AMERICA,"BAILEY, MICHAEL",ADDISON,TX,PRESIDENT MONGOLIA AND INDIA,11-1011,CHIEF EXECUTIVES,213113.0,1,NaN,75.73,Hour,OES,2012.0,OFLC ONLINE DATA CENTER,171.63,Hour,N,N,ST. LOUIS,ST. LOUIS,MO,63101,2016

> ## Full time Position - Investigate NaN's seen in top rows

In [43]:
h1b_2015.FULL_TIME_POSITION.value_counts(dropna=False)

Y      603682
N       15109
NaN        13
Name: FULL_TIME_POSITION, dtype: int64

In [44]:
h1b_2016.FULL_TIME_POSITION.value_counts(dropna=False)

NaN    647852
Name: FULL_TIME_POSITION, dtype: int64

In [45]:
# all NAs in 2016 data and full_time_position not present in h1b_2014, remove column from both 
h1b_2015.drop(['FULL_TIME_POSITION'], axis = 1, inplace = True)
h1b_2016.drop(['FULL_TIME_POSITION'], axis = 1, inplace = True)

> ## Unit of Pay, Total Workers, Wage Source and Wage Source Other - check data quality

In [46]:
h1b_2015.PW_UNIT_OF_PAY.value_counts(dropna=False)

Year         578474
Hour          39588
Month           361
Week            250
NaN              77
Bi-Weekly        54
Name: PW_UNIT_OF_PAY, dtype: int64

In [47]:
h1b_2016.PW_UNIT_OF_PAY.value_counts(dropna=False)

Year         608606
Hour          38569
Month           368
Week            206
Bi-Weekly        54
NaN              49
Name: PW_UNIT_OF_PAY, dtype: int64

In [48]:
h1b_2015.TOTAL_WORKERS.value_counts(dropna=False).head()

1.0     554944
2.0      11070
15.0      9988
5.0       9046
10.0      8137
Name: TOTAL_WORKERS, dtype: int64

In [49]:
h1b_2016.TOTAL_WORKERS.value_counts(dropna=False).head()

1     583808
2      12960
15     10812
5      10411
10      7136
Name: TOTAL_WORKERS, dtype: int64

In [50]:
h1b_2015.PW_WAGE_SOURCE.value_counts(dropna=False)

OES                               492476
Other                             122018
CBA                                 4185
NaN                                   74
SCA                                   28
DBA                                   17
OES (All Industries)                   3
OES (ACWIA - Higher Education)         3
Name: PW_WAGE_SOURCE, dtype: int64

In [51]:
h1b_2016.PW_WAGE_SOURCE.value_counts(dropna=False)

OES                     519168
Other                   124219
CBA                       4366
NaN                         53
SCA                         34
DBA                         11
OES (All Industries)         1
Name: PW_WAGE_SOURCE, dtype: int64

In [52]:
h1b_2015.PW_WAGE_SOURCE_OTHER.value_counts(dropna=False).head()

OFLC ONLINE DATA CENTER             523108
OFLC ONLINE DATACENTER               13970
NaN                                  10442
RADFORD GLOBAL TECHNOLOGY SURVEY      8364
ONLINE WAGE LIBRARY                   5720
Name: PW_WAGE_SOURCE_OTHER, dtype: int64

In [53]:
h1b_2016.PW_WAGE_SOURCE.value_counts(dropna=False).head()

OES      519168
Other    124219
CBA        4366
NaN          53
SCA          34
Name: PW_WAGE_SOURCE, dtype: int64

> ## Standardize date format

In [54]:
import copy

In [55]:
# check dtype of date column
h1b_2015['CASE_SUBMITTED'].head()

0   2015-02-05
1   2014-12-12
2   2013-01-03
3   2015-03-10
4   2014-12-17
Name: CASE_SUBMITTED, dtype: datetime64[ns]

In [56]:
# check dtype of date column
h1b_2015['DECISION_DATE'].head()

0   2015-02-05
1   2014-12-18
2   2014-12-15
3   2015-03-16
4   2014-12-23
Name: DECISION_DATE, dtype: datetime64[ns]

In [57]:
# check dtype of date column
h1b_2015['EMPLOYMENT_END_DATE'].head()

0    02/28/2015
1    01/04/2018
2    01/06/2016
3    09/07/2018
4    06/05/2018
Name: EMPLOYMENT_END_DATE, dtype: object

In [58]:
# convert to correct dtype
empl_end_date_2015_cp = copy.deepcopy(h1b_2015['EMPLOYMENT_END_DATE']) 
# make copy to preserve original data in case it gets corrupted during date manipulation
test_end = copy.deepcopy(empl_end_date_2015_cp)
test_end = pd.to_datetime(test_end, infer_datetime_format=True, errors = 'coerce')
h1b_2015['EMPLOYMENT_END_DATE'] = test_end
h1b_2015['EMPLOYMENT_END_DATE'].head()

0   2015-02-28
1   2018-01-04
2   2016-01-06
3   2018-09-07
4   2018-06-05
Name: EMPLOYMENT_END_DATE, dtype: datetime64[ns]

In [59]:
# check dtype of date column
h1b_2015['EMPLOYMENT_START_DATE'].head()

0    02/09/2015
1    01/05/2015
2    01/07/2013
3    09/07/2015
4    06/06/2015
Name: EMPLOYMENT_START_DATE, dtype: object

In [60]:
# convert to correct dtype
empl_start_date_2015_cp = copy.deepcopy(h1b_2015['EMPLOYMENT_START_DATE'])
# make copy to preserve original data in case it gets corrupted during date manipulation
test_start = copy.deepcopy(empl_start_date_2015_cp)
test_start = pd.to_datetime(test_start, infer_datetime_format=True, errors = 'coerce')
h1b_2015['EMPLOYMENT_START_DATE'] = test_start
h1b_2015['EMPLOYMENT_START_DATE'].head()

0   2015-02-09
1   2015-01-05
2   2013-01-07
3   2015-09-07
4   2015-06-06
Name: EMPLOYMENT_START_DATE, dtype: datetime64[ns]

In [61]:
# check dtype of date column
h1b_2016['CASE_SUBMITTED'].head()

0   2012-08-27
1   2013-02-25
2   2013-04-23
3   2013-05-24
4   2013-06-26
Name: CASE_SUBMITTED, dtype: datetime64[ns]

In [62]:
# check dtype of date column
h1b_2016['DECISION_DATE'].head()

0   2015-10-16
1   2016-01-13
2   2015-12-10
3   2016-01-19
4   2016-05-20
Name: DECISION_DATE, dtype: datetime64[ns]

In [63]:
# check dtype of date column
h1b_2016['EMPLOYMENT_END_DATE'].head()

0   2016-02-24
1   2016-08-23
2   2016-04-28
3   2016-09-30
4   2016-10-17
Name: EMPLOYMENT_END_DATE, dtype: datetime64[ns]

In [64]:
# check dtype of date column
h1b_2016['EMPLOYMENT_START_DATE'].head()

0   2013-02-25
1   2013-08-24
2   2013-04-29
3   2013-10-01
4   2013-10-18
Name: EMPLOYMENT_START_DATE, dtype: datetime64[ns]

#### Merge 2015 and 2016 data frames

In [65]:
final_df = pd.concat([h1b_2015, h1b_2016])
final_df.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL_WORKERS,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,FISCAL_YEAR
0,I-200-09121-701936,WITHDRAWN,2015-02-05,2015-02-05,H-1B,2015-02-09,2015-02-28,"MEDTRONIC, INC.",710 MEDTRONIC PARKWAY NE,MINNEAPOLIS,MN,55432,UNITED STATES OF AMERICA,DEBRA SCHNEIDER,MINNEAPOLIS,MN,MECHANICAL ENGINEER,17-2141.00,MECHANICAL ENGINEERS,334510.0,1.0,19000.0,Year,OES,2014.0,ONLINE DATA SURVEY,20000 -,Year,N,N,EDEN PRAIRIE,STERNS,CA,55412,2015
1,I-200-09146-796321,CERTIFIED,2014-12-12,2014-12-18,H-1B,2015-01-05,2018-01-04,UNIVERSITY OF OKLAHOMA,905 ASP AVE NEL BLDG 207,NORMAN,OK,73019,UNITED STATES OF AMERICA,NaN,NaN,NaN,ASSISTANT PROFESSOR,25-1032,"ENGINEERING TEACHERS, POSTSECONDARY",611310.0,1.0,42860.0,Year,Other,2014.0,OFLC ONLINE DATA CENTER,85000.00 -,Year,N,N,NORMAN,CLEVELAND,OK,73019,2015
2,I-200-09180-329758,WITHDRAWN,2013-01-03,2014-12-15,H-1B,2013-01-07,2016-01-06,NOKIA INC.,6021 CONNECTION DRIVE,IRVING,TX,75039,UNITED STATES OF AMERICA,HASEENA ENU,DALLAS,TX,RELEASE AND SOFTWARE TEST MANAGER,15-1799,"COMPUTER OCCUPATIONS, ALL OTHER*",517212.0,1.0,73965.0,Year,OES,2012.0,OFLC ONLINE DATA CENTER,94000 -,Year,N,N,SAN DIEGO,SAN DIEGO,CA,92127,2015
3,I-200-09183-259985,CERTIFIED,2015-03-10,2015-03-16,H-1B,2015-09-07,2018-09-07,"OMRON OILFIELD AND MARINE, INC.",9510 N. HOUSTON ROSSLYN ROAD,HOUSTON,TX,77088,UNITED STATES OF AMERICA,ELDON KAKUDA,SCHAUMBURG,IL,CONTROL ENGINEERING SPECIALIST,17-2072,"ELECTRONICS ENGINEERS, EXCEPT COMPUTER",335314.0,2.0,65998.0,Year,OES,2014.0,OFLC ONLINE DATA CENTER,66000 - 70000,Year,N,N,HOUSTON,HARRIS,TX,77088,2015
4,I-200-09189-800933,CERTIFIED,2014-12-17,2014-12-23,H-1B,2015-06-06,2018-06-05,FEDERAL HOME LOAN MORTGAGE CO.,8250 JONES BRANCH DRIVE MSA3E,MCLEAN,VA,22102,UNITED STATES OF AMERICA,JAMES ALEXANDER,WASHINGTON,DC,DEVELOPMENT SENIOR,15-1131,COMPUTER PROGRAMMERS,522294.0,1.0,96907.0,Year,OES,2014.0,OFLC ONLINE DATA CENTER,97000 - 143300,Year,N,N,MCLEAN,FAIRFAX,VA,22102,2015

In [66]:
final_df.tail(10)

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL_WORKERS,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,FISCAL_YEAR
647842,I-200-15299-198138,CERTIFIED,2015-10-26,2015-10-30,H-1B,2015-11-03,2018-11-03,HINDUJA TECH INC.,39555 ORCHARD HILL PLACE,NOVI,MI,48375,UNITED STATES OF AMERICA,"KULIKOWSKA, MARIANA",TROY,MI,SENIOR ENGINEER,17-2141,MECHANICAL ENGINEERS,541330.0,1.0,75275.00,Year,OES,2015.0,OFLC ONLINE DATA CENTER,92000,Year,Y,N,SALINE,WASHTENAW,MI,48176,2016
647843,I-200-16071-784410,WITHDRAWN,2016-03-11,2016-03-11,H-1B,2016-09-05,2019-09-04,L&T TECHNOLOGY SERVICES LIMITED,2035 LINCOLN HIGHWAY,EDISON,NJ,08817,UNITED STATES OF AMERICA,"DALAL, NISHA",TROY,MI,MECHANICAL ENGINEER,17-2141,MECHANICAL ENGINEERS,541330.0,1.0,53518.00,Year,OES,2015.0,OFLC ONLINE DATA CENTER,60000,Year,Y,N,HAMMOND,LAKE,IN,46320,2016
647844,I-200-15324-892450,CERTIFIED,2016-01-06,2016-01-12,H-1B,2016-02-09,2019-02-06,INFOSYS LIMITED,6100 TENNYSON PARKWAY,PLANO,TX,75024,UNITED STATES OF AMERICA,",",NaN,NaN,SENIOR PROJECT MANAGER - US,NaN,INFORMATION TECHNOLOGY PROJECT MANAGERS,541511.0,1.0,104478.00,Year,OES,2015.0,OFLC ONLINE DATA CENTER,106412,Year,Y,N,HOUSTON,HARRIS,TX,77019,2016
647845,I-200-16075-989908,CERTIFIED,2016-03-15,2016-03-21,H-1B,2016-09-09,2019-09-08,"SIGMAWAYS, INC",39737 PASEO PADRE PKWY.,FREMONT,CA,94538,UNITED STATES OF AMERICA,"HARDING, RICHARD",CALABASAS HILLS,CA,SYSTEMS ENGINEER,NaN,NaN,541511.0,1.0,75421.00,Year,Other,2015.0,OFLC ONLINE DATA CENTER,90000,Year,N,N,FREMONT,ALAMEDA,CA,94538,2016
647846,I-200-13242-278052,WITHDRAWN,2016-06-29,2016-06-29,H-1B,2013-10-01,NaT,COMMONWEALTH HEALTHCARE CORPORATION,"P.O. BOX 500409 CK, SAIPAN MP 96950",SAIPAN,MP,96950,UNITED STATES OF AMERICA,",",NaN,NaN,PHYSICIAN,NaN,NaN,62211.0,2.0,21.64,Hour,Other,2015.0,CNMI PREVAILING WAGE & WORKFORCE ASSESSMENT S...,80000,Year,N,N,SAIPAN,NORTHERN MARIANA ISLANDS,MP,MP 96950,2016
647847,I-200-15301-672086,WITHDRAWN,2015-10-28,2015-10-29,H-1B,NaT,NaT,IBM INDIA PRIVATE LIMITED,3039 CORNWALLIS ROAD,DURHAM,NC,27709,UNITED STATES OF AMERICA,",",NaN,NaN,NaN,NaN,NaN,541510.0,1.0,70304.00,Year,OES,2015.0,OFLC ONLINE DATA CENTER,70304,NaN,N,N,MIDDLETOWN,MONMOUTH,NJ,07748N,2016
647848,I-200-15355-392494,WITHDRAWN,2015-12-21,2015-12-21,H-1B,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,",",NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
647849,I-200-16063-456774,WITHDRAWN,2016-03-03,2016-03-03,Select Visa Classification,NaT,NaT,TECHNOPLUS INC,1004 RIDGE HOLLOW TR,IRVING,TX,75063,UNITED STATES OF AMERICA,",",NaN,NaN,NaN,NaN,NaN,541511.0,0.0,71032.00,Year,OES,2015.0,OFLC ONLINE DATA CENTER,0,NaN,NaN,NaN,COPPELL,DALLAS,TX,75019,2016
647850,I-200-16069-542344,WITHDRAWN,2016-03-09,2016-03-09,H-1B,NaT,NaT,L&T TECHNOLOGY SERVICES LIMITED,2035 LINCOLN HIGHWAY,EDISON,NJ,08817,UNITED STATES OF AMERICA,"DALAL, NISHA",TROY,MI,NaN,NaN,NaN,541330.0,0.0,64147.00,Year,OES,2015.0,OFLC ONLINE DATA CENTER,64147,Year,Y,N,GLENDALE,LOS ANGELES,CA,91203,2016
647851,I-200-16155-398922,CERTIFIED,2016-06-03,2016-06-09,H-1B,NaT,NaT,"IRIS SOFTWARE, INC.",200 METROPLEX DRIVE,EDISON,NJ,08817,UNITED STATES OF AMERICA,"KIDAMBI, VAMAN",TRUMBULL,CT,NaN,NaN,NaN,541511.0,0.0,40.26,Hour,OES,2015.0,OFLC ONLINE DATA CENTER,100000,Year,Y,N,FORT MILL,YORK,SC,29715-8421,2016

## Modify 2014 dataframe and merge with final_df

In [67]:
col_diff(h1b_2014.columns, final_df.columns, 2014, 0)

[('in 0, missing in 2014', 'CASE_NUMBER'),
 ('in 0, missing in 2014', 'CASE_STATUS'),
 ('in 0, missing in 2014', 'CASE_SUBMITTED'),
 ('in 0, missing in 2014', 'EMPLOYMENT_START_DATE'),
 ('in 0, missing in 2014', 'EMPLOYMENT_END_DATE'),
 ('in 0, missing in 2014', 'EMPLOYER_NAME'),
 ('in 0, missing in 2014', 'EMPLOYER_ADDRESS'),
 ('in 0, missing in 2014', 'EMPLOYER_CITY'),
 ('in 0, missing in 2014', 'EMPLOYER_STATE'),
 ('in 0, missing in 2014', 'EMPLOYER_POSTAL_CODE'),
 ('in 0, missing in 2014', 'EMPLOYER_COUNTRY'),
 ('in 0, missing in 2014', 'AGENT_ATTORNEY_NAME'),
 ('in 0, missing in 2014', 'AGENT_ATTORNEY_CITY'),
 ('in 0, missing in 2014', 'AGENT_ATTORNEY_STATE'),
 ('in 0, missing in 2014', 'JOB_TITLE'),
 ('in 0, missing in 2014', 'SOC_CODE'),
 ('in 0, missing in 2014', 'SOC_NAME'),
 ('in 0, missing in 2014', 'NAIC_CODE'),
 ('in 0, missing in 2014', 'PREVAILING_WAGE'),
 ('in 0, missing in 2014', 'PW_UNIT_OF_PAY'),
 ('in 0, missing in 2014', 'PW_WAGE_SOURCE'),
 ('in 0, missing in 2014', 'PW_WAGE_SOURCE_YEAR'),
 ('in 0, missing in 2014', 'PW_WAGE_SOURCE_OTHER'),
 ('in 0, missing in 2014', 'WAGE_RATE_OF_PAY'),
 ('in 0, missing in 2014', 'WAGE_UNIT_OF_PAY'),
 ('in 0, missing in 2014', 'H-1B_DEPENDENT'),
 ('in 0, missing in 2014', 'WILLFUL_VIOLATOR'),
 ('in 0, missing in 2014', 'WORKSITE_CITY'),
 ('in 0, missing in 2014', 'WORKSITE_COUNTY'),
 ('in 0, missing in 2014', 'WORKSITE_STATE'),
 ('in 0, missing in 2014', 'WORKSITE_POSTAL_CODE'),
 ('in 2014, missing in 0', 'LCA_CASE_NUMBER'),
 ('in 2014, missing in 0', 'STATUS'),
 ('in 2014, missing in 0', 'LCA_CASE_SUBMIT'),
 ('in 2014, missing in 0', 'LCA_CASE_EMPLOYMENT_START_DATE'),
 ('in 2014, missing in 0', 'LCA_CASE_EMPLOYMENT_END_DATE'),
 ('in 2014, missing in 0', 'LCA_CASE_EMPLOYER_NAME'),
 ('in 2014, missing in 0', 'LCA_CASE_EMPLOYER_ADDRESS'),
 ('in 2014, missing in 0', 'LCA_CASE_EMPLOYER_CITY'),
 ('in 2014, missing in 0', 'LCA_CASE_EMPLOYER_STATE'),
 ('in 2014, missing in 0', 'LCA_CASE_EMPLOYER_POSTAL_CODE'),
 ('in 2014, missing in 0', 'LCA_CASE_SOC_CODE'),
 ('in 2014, missing in 0', 'LCA_CASE_SOC_NAME'),
 ('in 2014, missing in 0', 'LCA_CASE_JOB_TITLE'),
 ('in 2014, missing in 0', 'LCA_CASE_WAGE_RATE_FROM'),
 ('in 2014, missing in 0', 'LCA_CASE_WAGE_RATE_TO'),
 ('in 2014, missing in 0', 'LCA_CASE_WAGE_RATE_UNIT'),
 ('in 2014, missing in 0', 'FULL_TIME_POS'),
 ('in 2014, missing in 0', 'LCA_CASE_WORKLOC1_CITY'),
 ('in 2014, missing in 0', 'LCA_CASE_WORKLOC1_STATE'),
 ('in 2014, missing in 0', 'PW_1'),
 ('in 2014, missing in 0', 'PW_UNIT_1'),
 ('in 2014, missing in 0', 'PW_SOURCE_1'),
 ('in 2014, missing in 0', 'OTHER_WAGE_SOURCE_1'),
 ('in 2014, missing in 0', 'YR_SOURCE_PUB_1'),
 ('in 2014, missing in 0', 'LCA_CASE_WORKLOC2_CITY'),
 ('in 2014, missing in 0', 'LCA_CASE_WORKLOC2_STATE'),
 ('in 2014, missing in 0', 'PW_2'),
 ('in 2014, missing in 0', 'PW_UNIT_2'),
 ('in 2014, missing in 0', 'PW_SOURCE_2'),
 ('in 2014, missing in 0', 'OTHER_WAGE_SOURCE_2'),
 ('in 2014, missing in 0', 'YR_SOURCE_PUB_2'),
 ('in 2014, missing in 0', 'LCA_CASE_NAICS_CODE')]

In [68]:
h1b_2014.head(1)

,LCA_CASE_NUMBER,STATUS,LCA_CASE_SUBMIT,DECISION_DATE,VISA_CLASS,LCA_CASE_EMPLOYMENT_START_DATE,LCA_CASE_EMPLOYMENT_END_DATE,LCA_CASE_EMPLOYER_NAME,LCA_CASE_EMPLOYER_ADDRESS,LCA_CASE_EMPLOYER_CITY,LCA_CASE_EMPLOYER_STATE,LCA_CASE_EMPLOYER_POSTAL_CODE,LCA_CASE_SOC_CODE,LCA_CASE_SOC_NAME,LCA_CASE_JOB_TITLE,LCA_CASE_WAGE_RATE_FROM,LCA_CASE_WAGE_RATE_TO,LCA_CASE_WAGE_RATE_UNIT,FULL_TIME_POS,TOTAL_WORKERS,LCA_CASE_WORKLOC1_CITY,LCA_CASE_WORKLOC1_STATE,PW_1,PW_UNIT_1,PW_SOURCE_1,OTHER_WAGE_SOURCE_1,YR_SOURCE_PUB_1,LCA_CASE_WORKLOC2_CITY,LCA_CASE_WORKLOC2_STATE,PW_2,PW_UNIT_2,PW_SOURCE_2,OTHER_WAGE_SOURCE_2,YR_SOURCE_PUB_2,LCA_CASE_NAICS_CODE,FISCAL_YEAR
0,I-200-09106-546545,CERTIFIED-WITHDRAWN,2013-01-18 18:05:43,2014-09-29 15:59:50,H-1B,2013-02-01,2016-02-01,TEXAS STATE UNIVERSITY-SAN MARCOS,601 UNIVERSITY DRIVE,SAN MARCOS,TX,78666,19-1029,"Biological Scientists, All Other",POSTDOCTORAL RESEARCH ASSOCIATE,50000.0,60000.0,Year,Y,1.0,SAN MARCOS,TX,43118.0,Year,OES,OFLC ONLINE DATA CENTER,2013.0,ST. LOUIS,MO,49566.0,Year,OES,OFLC ONLINE DATA CENTER,OFLC ONLINE DATA CENTER,611310.0,2014

In [69]:
h1b_2014.columns

Index(['LCA_CASE_NUMBER', 'STATUS', 'LCA_CASE_SUBMIT', 'DECISION_DATE',
       'VISA_CLASS', 'LCA_CASE_EMPLOYMENT_START_DATE',
       'LCA_CASE_EMPLOYMENT_END_DATE', 'LCA_CASE_EMPLOYER_NAME',
       'LCA_CASE_EMPLOYER_ADDRESS', 'LCA_CASE_EMPLOYER_CITY',
       'LCA_CASE_EMPLOYER_STATE', 'LCA_CASE_EMPLOYER_POSTAL_CODE',
       'LCA_CASE_SOC_CODE', 'LCA_CASE_SOC_NAME', 'LCA_CASE_JOB_TITLE',
       'LCA_CASE_WAGE_RATE_FROM', 'LCA_CASE_WAGE_RATE_TO',
       'LCA_CASE_WAGE_RATE_UNIT', 'FULL_TIME_POS', 'TOTAL_WORKERS',
       'LCA_CASE_WORKLOC1_CITY', 'LCA_CASE_WORKLOC1_STATE', 'PW_1',
       'PW_UNIT_1', 'PW_SOURCE_1', 'OTHER_WAGE_SOURCE_1', 'YR_SOURCE_PUB_1',
       'LCA_CASE_WORKLOC2_CITY', 'LCA_CASE_WORKLOC2_STATE', 'PW_2',
       'PW_UNIT_2', 'PW_SOURCE_2', 'OTHER_WAGE_SOURCE_2', 'YR_SOURCE_PUB_2',
       'LCA_CASE_NAICS_CODE', 'FISCAL_YEAR'],
      dtype='object')

In [70]:
final_df.head(1)

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAIC_CODE,TOTAL_WORKERS,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,PW_WAGE_SOURCE_OTHER,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,FISCAL_YEAR
0,I-200-09121-701936,WITHDRAWN,2015-02-05,2015-02-05,H-1B,2015-02-09,2015-02-28,"MEDTRONIC, INC.",710 MEDTRONIC PARKWAY NE,MINNEAPOLIS,MN,55432,UNITED STATES OF AMERICA,DEBRA SCHNEIDER,MINNEAPOLIS,MN,MECHANICAL ENGINEER,17-2141.00,MECHANICAL ENGINEERS,334510.0,1.0,19000.0,Year,OES,2014.0,ONLINE DATA SURVEY,20000 -,Year,N,N,EDEN PRAIRIE,STERNS,CA,55412,2015

In [71]:
# modify column names in h1b_2014
h1b_2014.columns = ['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'VISA_CLASS', 'EMPLOYMENT_START_DATE',
       'EMPLOYMENT_END_DATE', 'EMPLOYER_NAME',
       'EMPLOYER_ADDRESS', 'EMPLOYER_CITY',
       'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE',
       'SOC_CODE', 'SOC_NAME', 'JOB_TITLE',
       'WAGE_RATE_OF_PAY', 'LCA_CASE_WAGE_RATE_TO',
       'WAGE_UNIT_OF_PAY', 'FULL_TIME_POS', 'TOTAL_WORKERS',
       'LCA_CASE_WORKLOC1_CITY', 'LCA_CASE_WORKLOC1_STATE', 'PW_1',
       'PW_UNIT_1', 'PW_SOURCE_1', 'OTHER_WAGE_SOURCE_1', 'YR_SOURCE_PUB_1',
       'LCA_CASE_WORKLOC2_CITY', 'LCA_CASE_WORKLOC2_STATE', 'PW_2',
       'PW_UNIT_2', 'PW_SOURCE_2', 'OTHER_WAGE_SOURCE_2', 'YR_SOURCE_PUB_2',
       'NAIC_CODE', 'FISCAL_YEAR']

In [72]:
h1b_2014.LCA_CASE_WAGE_RATE_TO.value_counts(dropna=False).head()

NaN          416572
 100000.0      3240
 120000.0      2853
 90000.0       2694
 110000.0      2590
Name: LCA_CASE_WAGE_RATE_TO, dtype: int64

In [73]:
# drop wage_rate_of_pay to column like in 2016 data 
h1b_2014.drop(['LCA_CASE_WAGE_RATE_TO'], axis = 1, inplace = True)

In [74]:
# drop full_time_pos since removed from other 2 years
h1b_2014.drop(['FULL_TIME_POS'], axis = 1, inplace = True)

In [75]:
col_diff(h1b_2014.columns, final_df.columns, 2014, 0)

[('in 0, missing in 2014', 'EMPLOYER_COUNTRY'),
 ('in 0, missing in 2014', 'AGENT_ATTORNEY_NAME'),
 ('in 0, missing in 2014', 'AGENT_ATTORNEY_CITY'),
 ('in 0, missing in 2014', 'AGENT_ATTORNEY_STATE'),
 ('in 0, missing in 2014', 'PREVAILING_WAGE'),
 ('in 0, missing in 2014', 'PW_UNIT_OF_PAY'),
 ('in 0, missing in 2014', 'PW_WAGE_SOURCE'),
 ('in 0, missing in 2014', 'PW_WAGE_SOURCE_YEAR'),
 ('in 0, missing in 2014', 'PW_WAGE_SOURCE_OTHER'),
 ('in 0, missing in 2014', 'H-1B_DEPENDENT'),
 ('in 0, missing in 2014', 'WILLFUL_VIOLATOR'),
 ('in 0, missing in 2014', 'WORKSITE_CITY'),
 ('in 0, missing in 2014', 'WORKSITE_COUNTY'),
 ('in 0, missing in 2014', 'WORKSITE_STATE'),
 ('in 0, missing in 2014', 'WORKSITE_POSTAL_CODE'),
 ('in 2014, missing in 0', 'LCA_CASE_WORKLOC1_CITY'),
 ('in 2014, missing in 0', 'LCA_CASE_WORKLOC1_STATE'),
 ('in 2014, missing in 0', 'PW_1'),
 ('in 2014, missing in 0', 'PW_UNIT_1'),
 ('in 2014, missing in 0', 'PW_SOURCE_1'),
 ('in 2014, missing in 0', 'OTHER_WAGE_SOURCE_1'),
 ('in 2014, missing in 0', 'YR_SOURCE_PUB_1'),
 ('in 2014, missing in 0', 'LCA_CASE_WORKLOC2_CITY'),
 ('in 2014, missing in 0', 'LCA_CASE_WORKLOC2_STATE'),
 ('in 2014, missing in 0', 'PW_2'),
 ('in 2014, missing in 0', 'PW_UNIT_2'),
 ('in 2014, missing in 0', 'PW_SOURCE_2'),
 ('in 2014, missing in 0', 'OTHER_WAGE_SOURCE_2'),
 ('in 2014, missing in 0', 'YR_SOURCE_PUB_2')]

In [76]:
h1b_2014.head(10)

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,SOC_CODE,SOC_NAME,JOB_TITLE,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,TOTAL_WORKERS,LCA_CASE_WORKLOC1_CITY,LCA_CASE_WORKLOC1_STATE,PW_1,PW_UNIT_1,PW_SOURCE_1,OTHER_WAGE_SOURCE_1,YR_SOURCE_PUB_1,LCA_CASE_WORKLOC2_CITY,LCA_CASE_WORKLOC2_STATE,PW_2,PW_UNIT_2,PW_SOURCE_2,OTHER_WAGE_SOURCE_2,YR_SOURCE_PUB_2,NAIC_CODE,FISCAL_YEAR
0,I-200-09106-546545,CERTIFIED-WITHDRAWN,2013-01-18 18:05:43,2014-09-29 15:59:50,H-1B,2013-02-01,2016-02-01,TEXAS STATE UNIVERSITY-SAN MARCOS,601 UNIVERSITY DRIVE,SAN MARCOS,TX,78666,19-1029,"Biological Scientists, All Other",POSTDOCTORAL RESEARCH ASSOCIATE,50000.0,Year,1.0,SAN MARCOS,TX,43118.0,Year,OES,OFLC ONLINE DATA CENTER,2013.0,ST. LOUIS,MO,49566.0,Year,OES,OFLC ONLINE DATA CENTER,OFLC ONLINE DATA CENTER,611310.0,2014
1,I-200-09162-143337,CERTIFIED,2014-03-17 11:11:45,2014-03-21 23:11:51,H-1B,2014-09-15,2017-09-15,"EYE SPECIALISTS OF INDIANA, P.C.",1901 N. MERIDIAN ST.,INDIANAPOLIS,IN,46202,29-1041,Optometrists,OPTOMETRIST,65000.0,Year,1.0,INDIANAPOLIS,IN,64251.0,Year,Other,OFLC ONLINE DATA CENTER,2013.0,INDIANAPOLIS,IN,64251.0,Year,Other,OFLC ONLINE DATA CENTER,OFLC ONLINE DATA CENTER,621320.0,2014
2,I-200-09182-550211,DENIED,2014-03-14 17:05:01,2014-03-20 16:59:49,H-1B,2014-04-01,2015-04-01,"LHB, INC.",21 WEST SUPERIOR STREET,DULUTH,MN,55802,27-2011,Actors,FOOD SAFETY SCIENTIST,50000.0,Year,1.0,FARG,WI,50000.0,Year,OES,OFLIC ONLINE,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,541330.0,2014
3,I-200-09193-873099,CERTIFIED,2014-03-01 12:37:02,2014-03-06 22:03:37,H-1B,2014-08-28,2017-08-27,"WAM USA, INC.",75 BOULDERBROOK CIRCLE,LAWRENCEVILLE,GA,30045,13-2011,Accountants and Auditors,INTERNATIONAL ACCOUNTANT,48000.0,Year,1.0,LAWRENCEVILLE,GA,47424.0,Year,Other,OFLC ONLINE DATA CENTER,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,333922.0,2014
4,I-200-09197-120609,CERTIFIED-WITHDRAWN,2014-03-10 15:33:41,2014-03-17 10:52:46,H-1B,2014-09-01,2017-09-01,"DFUSE TECHNOLOGIES, INC.",20143 DESERT FOREST DRIVE,ASHBURN,VA,20147,15-1131,Computer Programmers,PROGRAMMER ANALYST,62000.0,Year,1.0,SAN JOSE,CA,61589.0,Year,OES,OFLC ONLINE DATA CENTER,2013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,541519.0,2014
5,I-200-09203-855998,CERTIFIED,2014-08-20 16:41:05,2014-08-26 22:01:03,H-1B,2014-08-20,2015-09-14,TAKE ENTERPRISE SERVICES INC,502 CARNEGIE CENTER,PRINCETON,NJ,08540,15-1131,Computer Programmers,PROGRAMMER ANALYST,69742.0,Year,1.0,CHARLOTTE,NC,53706.0,Year,Other,FLC DATACENTER ONLINE WAGE LIBRARY,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,541511.0,2014
6,I-200-09205-703458,WITHDRAWN,2014-09-15 16:31:51,2014-09-15 16:38:40,H-1B,2014-09-15,2015-01-10,"TAKE SOLUTIONS, INC",502 CARNEGIE CENTER,PRINCETON,NJ,08540,15-1131,Computer Programmers,PROGRAMMER ANLYST,63000.0,Year,1.0,DOWNERS GROVE,IL,49774.0,Year,Other,FLC DATA CENTER ONLINE WAGE LIBRARY,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,541511.0,2014
7,I-200-09205-927162,CERTIFIED,2014-06-26 13:21:18,2014-07-02 22:01:55,H-1B,2014-10-12,2017-10-11,"PLATTFORM ADVERTISING, INC.",15500 W. 113TH STREET,LENEXA,KS,66219,15-1132,"Software Developers, Applications",SENIOR APPLICATION DEVELOPER,99403.0,Year,1.0,LENEXA,KS,99403.0,Year,OES,OFLC ONLINE DATA CENTER,2013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,541810.0,2014
8,I-200-09208-457486,WITHDRAWN,2013-07-17 08:34:07,2014-03-18 09:56:27,H-1B,2009-08-05,2012-08-04,PROPEL CORP.,621 HILLROSE DRIVE,LOUISVILLE,KY,40243,15-1031.00,"Computer Software Engineers, Applications",SOFTWARE ENGINEER,60000.0,Year,1.0,LOUISVILLE,KY,58427.0,Year,OES,OFLC ONLINE DATA CENTER,2009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,541411.0,2014
9,I-200-09211-513022,CERTIFIED-WITHDRAWN,2009-07-30 11:37:31,2014-05-13 11:11:01,H-1B,2009-09-15,2012-09-14,UT HEALTH SCIENCE CENTER AT SAN ANTONIO,7703 FLOYD CURL DR.,SAN ANTONIO,TX,78229-3900,29-1069.99,"Physicians and Surgeons, All Other",ASSISTANT PROFESSOR,190000.0,Year,1.0,SAN ANTONIO,TX,43701.0,Year,OES,NaN,2009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,611310.0,2014

In [77]:
h1b_2014.LCA_CASE_WORKLOC2_CITY.value_counts(dropna=False).head()

NaN          435616
NEW YORK       3170
SAN DIEGO      2039
IRVING         1894
HOUSTON        1701
Name: LCA_CASE_WORKLOC2_CITY, dtype: int64

> ## Change columns names for all columns relating to workloc1 and pw1 to match those in final df
> ## Remove all columns relating to worloc2 and pw2

In [78]:
final_df.columns

Index(['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYER_NAME', 'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_STATE',
       'EMPLOYER_POSTAL_CODE', 'EMPLOYER_COUNTRY', 'AGENT_ATTORNEY_NAME',
       'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE', 'JOB_TITLE', 'SOC_CODE',
       'SOC_NAME', 'NAIC_CODE', 'TOTAL_WORKERS', 'PREVAILING_WAGE',
       'PW_UNIT_OF_PAY', 'PW_WAGE_SOURCE', 'PW_WAGE_SOURCE_YEAR',
       'PW_WAGE_SOURCE_OTHER', 'WAGE_RATE_OF_PAY', 'WAGE_UNIT_OF_PAY',
       'H-1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'WORKSITE_CITY',
       'WORKSITE_COUNTY', 'WORKSITE_STATE', 'WORKSITE_POSTAL_CODE',
       'FISCAL_YEAR'],
      dtype='object')

In [79]:
h1b_2014.columns = ['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYER_NAME', 'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_STATE',
       'EMPLOYER_POSTAL_CODE', 'SOC_CODE', 'SOC_NAME', 'JOB_TITLE',
       'WAGE_RATE_OF_PAY', 'WAGE_UNIT_OF_PAY', 'TOTAL_WORKERS',
       'WORKSITE_CITY', 'WORKSITE_STATE', 'PW_1',
       'PW_UNIT_1', 'PW_SOURCE_1', 'OTHER_WAGE_SOURCE_1', 'YR_SOURCE_PUB_1',
       'LCA_CASE_WORKLOC2_CITY', 'LCA_CASE_WORKLOC2_STATE', 'PW_2',
       'PW_UNIT_2', 'PW_SOURCE_2', 'OTHER_WAGE_SOURCE_2', 'YR_SOURCE_PUB_2',
       'NAIC_CODE', 'FISCAL_YEAR']

In [80]:
h1b_2014.drop(['LCA_CASE_WORKLOC2_CITY'], axis = 1, inplace = True)
h1b_2014.drop(['LCA_CASE_WORKLOC2_STATE'], axis = 1, inplace = True)
h1b_2014.drop(['PW_2'], axis = 1, inplace = True)
h1b_2014.drop(['PW_UNIT_2'], axis = 1, inplace = True)
h1b_2014.drop(['PW_SOURCE_2'], axis = 1, inplace = True)
h1b_2014.drop(['OTHER_WAGE_SOURCE_2'], axis = 1, inplace = True)
h1b_2014.drop(['YR_SOURCE_PUB_2'], axis = 1, inplace = True)

In [81]:
h1b_2014.columns = ['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYER_NAME', 'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_STATE',
       'EMPLOYER_POSTAL_CODE', 'SOC_CODE', 'SOC_NAME', 'JOB_TITLE',
       'WAGE_RATE_OF_PAY', 'WAGE_UNIT_OF_PAY', 'TOTAL_WORKERS',
       'WORKSITE_CITY', 'WORKSITE_STATE', 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'PW_WAGE_SOURCE',
       'PW_WAGE_SOURCE_OTHER', 'PW_WAGE_SOURCE_YEAR', 'NAIC_CODE', 'FISCAL_YEAR']

In [82]:
col_diff(h1b_2014.columns, final_df.columns, 2014, 0)

[('in 0, missing in 2014', 'EMPLOYER_COUNTRY'),
 ('in 0, missing in 2014', 'AGENT_ATTORNEY_NAME'),
 ('in 0, missing in 2014', 'AGENT_ATTORNEY_CITY'),
 ('in 0, missing in 2014', 'AGENT_ATTORNEY_STATE'),
 ('in 0, missing in 2014', 'H-1B_DEPENDENT'),
 ('in 0, missing in 2014', 'WILLFUL_VIOLATOR'),
 ('in 0, missing in 2014', 'WORKSITE_COUNTY'),
 ('in 0, missing in 2014', 'WORKSITE_POSTAL_CODE')]

> ## Drop remaining columns from final_df since they are not present in h1b_2014

In [83]:
final_df.drop(['EMPLOYER_COUNTRY'], axis = 1, inplace = True)
final_df.drop(['AGENT_ATTORNEY_NAME'], axis = 1, inplace = True)
final_df.drop(['AGENT_ATTORNEY_CITY'], axis = 1, inplace = True)
final_df.drop(['AGENT_ATTORNEY_STATE'], axis = 1, inplace = True)
final_df.drop(['H-1B_DEPENDENT'], axis = 1, inplace = True)
final_df.drop(['WILLFUL_VIOLATOR'], axis = 1, inplace = True)
final_df.drop(['WORKSITE_COUNTY'], axis = 1, inplace = True)
final_df.drop(['WORKSITE_POSTAL_CODE'], axis = 1, inplace = True)

In [84]:
col_diff(h1b_2014.columns, final_df.columns, 2014, 0)

[]

> ## Check date formats

In [85]:
h1b_2014.head(1)

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,SOC_CODE,SOC_NAME,JOB_TITLE,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,TOTAL_WORKERS,WORKSITE_CITY,WORKSITE_STATE,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_OTHER,PW_WAGE_SOURCE_YEAR,NAIC_CODE,FISCAL_YEAR
0,I-200-09106-546545,CERTIFIED-WITHDRAWN,2013-01-18 18:05:43,2014-09-29 15:59:50,H-1B,2013-02-01,2016-02-01,TEXAS STATE UNIVERSITY-SAN MARCOS,601 UNIVERSITY DRIVE,SAN MARCOS,TX,78666,19-1029,"Biological Scientists, All Other",POSTDOCTORAL RESEARCH ASSOCIATE,50000.0,Year,1.0,SAN MARCOS,TX,43118.0,Year,OES,OFLC ONLINE DATA CENTER,2013.0,611310.0,2014

In [86]:
# check dtype of date column
h1b_2014['CASE_SUBMITTED'].head()

0   2013-01-18 18:05:43
1   2014-03-17 11:11:45
2   2014-03-14 17:05:01
3   2014-03-01 12:37:02
4   2014-03-10 15:33:41
Name: CASE_SUBMITTED, dtype: datetime64[ns]

In [87]:
# remove timestamp for consistency
case_sub_2014 = copy.deepcopy(h1b_2014['CASE_SUBMITTED'])
# make copy to preserve original data in case it gets corrupted during date manipulation
test_sub = copy.deepcopy(case_sub_2014)
test_sub = h1b_2014['CASE_SUBMITTED'].dt.date
h1b_2014['CASE_SUBMITTED'] = test_start
h1b_2014['CASE_SUBMITTED'].head()

0   2015-02-09
1   2015-01-05
2   2013-01-07
3   2015-09-07
4   2015-06-06
Name: CASE_SUBMITTED, dtype: datetime64[ns]

In [88]:
# check dtype of date column
h1b_2014['DECISION_DATE'].head()

0   2014-09-29 15:59:50
1   2014-03-21 23:11:51
2   2014-03-20 16:59:49
3   2014-03-06 22:03:37
4   2014-03-17 10:52:46
Name: DECISION_DATE, dtype: datetime64[ns]

In [89]:
# remove timestamp for consistency
case_dec_2014 = copy.deepcopy(h1b_2014['DECISION_DATE'])
# make copy to preserve original data in case it gets corrupted during date manipulation
test_dec = copy.deepcopy(case_dec_2014)
test_dec = h1b_2014['DECISION_DATE'].dt.date
h1b_2014['DECISION_DATE'] = test_start
h1b_2014['DECISION_DATE'].head()

0   2015-02-09
1   2015-01-05
2   2013-01-07
3   2015-09-07
4   2015-06-06
Name: DECISION_DATE, dtype: datetime64[ns]

In [90]:
# check dtype of date column
h1b_2014['EMPLOYMENT_START_DATE'].head()

0   2013-02-01
1   2014-09-15
2   2014-04-01
3   2014-08-28
4   2014-09-01
Name: EMPLOYMENT_START_DATE, dtype: datetime64[ns]

In [91]:
# check dtype of date column
h1b_2014['EMPLOYMENT_END_DATE'].head()

0   2016-02-01
1   2017-09-15
2   2015-04-01
3   2017-08-27
4   2017-09-01
Name: EMPLOYMENT_END_DATE, dtype: datetime64[ns]

> ## Merge h1b_2014 with final_df

In [92]:
h1b = pd.concat([h1b_2014, final_df])
h1b.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_NAME,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYMENT_END_DATE,EMPLOYMENT_START_DATE,FISCAL_YEAR,JOB_TITLE,NAIC_CODE,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_OTHER,PW_WAGE_SOURCE_YEAR,SOC_CODE,SOC_NAME,TOTAL_WORKERS,VISA_CLASS,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,WORKSITE_CITY,WORKSITE_STATE
0,I-200-09106-546545,CERTIFIED-WITHDRAWN,2015-02-09,2015-02-09,601 UNIVERSITY DRIVE,SAN MARCOS,TEXAS STATE UNIVERSITY-SAN MARCOS,78666,TX,2016-02-01,2013-02-01,2014,POSTDOCTORAL RESEARCH ASSOCIATE,611310.0,43118.0,Year,OES,OFLC ONLINE DATA CENTER,2013.0,19-1029,"Biological Scientists, All Other",1.0,H-1B,50000,Year,SAN MARCOS,TX
1,I-200-09162-143337,CERTIFIED,2015-01-05,2015-01-05,1901 N. MERIDIAN ST.,INDIANAPOLIS,"EYE SPECIALISTS OF INDIANA, P.C.",46202,IN,2017-09-15,2014-09-15,2014,OPTOMETRIST,621320.0,64251.0,Year,Other,OFLC ONLINE DATA CENTER,2013.0,29-1041,Optometrists,1.0,H-1B,65000,Year,INDIANAPOLIS,IN
2,I-200-09182-550211,DENIED,2013-01-07,2013-01-07,21 WEST SUPERIOR STREET,DULUTH,"LHB, INC.",55802,MN,2015-04-01,2014-04-01,2014,FOOD SAFETY SCIENTIST,541330.0,50000.0,Year,OES,OFLIC ONLINE,2014.0,27-2011,Actors,1.0,H-1B,50000,Year,FARG,WI
3,I-200-09193-873099,CERTIFIED,2015-09-07,2015-09-07,75 BOULDERBROOK CIRCLE,LAWRENCEVILLE,"WAM USA, INC.",30045,GA,2017-08-27,2014-08-28,2014,INTERNATIONAL ACCOUNTANT,333922.0,47424.0,Year,Other,OFLC ONLINE DATA CENTER,2014.0,13-2011,Accountants and Auditors,1.0,H-1B,48000,Year,LAWRENCEVILLE,GA
4,I-200-09197-120609,CERTIFIED-WITHDRAWN,2015-06-06,2015-06-06,20143 DESERT FOREST DRIVE,ASHBURN,"DFUSE TECHNOLOGIES, INC.",20147,VA,2017-09-01,2014-09-01,2014,PROGRAMMER ANALYST,541519.0,61589.0,Year,OES,OFLC ONLINE DATA CENTER,2013.0,15-1131,Computer Programmers,1.0,H-1B,62000,Year,SAN JOSE,CA

In [93]:
h1b.tail(10)

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_NAME,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYMENT_END_DATE,EMPLOYMENT_START_DATE,FISCAL_YEAR,JOB_TITLE,NAIC_CODE,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_OTHER,PW_WAGE_SOURCE_YEAR,SOC_CODE,SOC_NAME,TOTAL_WORKERS,VISA_CLASS,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,WORKSITE_CITY,WORKSITE_STATE
647842,I-200-15299-198138,CERTIFIED,2015-10-26,2015-10-30,39555 ORCHARD HILL PLACE,NOVI,HINDUJA TECH INC.,48375,MI,2018-11-03,2015-11-03,2016,SENIOR ENGINEER,541330.0,75275.00,Year,OES,OFLC ONLINE DATA CENTER,2015.0,17-2141,MECHANICAL ENGINEERS,1.0,H-1B,92000,Year,SALINE,MI
647843,I-200-16071-784410,WITHDRAWN,2016-03-11,2016-03-11,2035 LINCOLN HIGHWAY,EDISON,L&T TECHNOLOGY SERVICES LIMITED,08817,NJ,2019-09-04,2016-09-05,2016,MECHANICAL ENGINEER,541330.0,53518.00,Year,OES,OFLC ONLINE DATA CENTER,2015.0,17-2141,MECHANICAL ENGINEERS,1.0,H-1B,60000,Year,HAMMOND,IN
647844,I-200-15324-892450,CERTIFIED,2016-01-06,2016-01-12,6100 TENNYSON PARKWAY,PLANO,INFOSYS LIMITED,75024,TX,2019-02-06,2016-02-09,2016,SENIOR PROJECT MANAGER - US,541511.0,104478.00,Year,OES,OFLC ONLINE DATA CENTER,2015.0,NaN,INFORMATION TECHNOLOGY PROJECT MANAGERS,1.0,H-1B,106412,Year,HOUSTON,TX
647845,I-200-16075-989908,CERTIFIED,2016-03-15,2016-03-21,39737 PASEO PADRE PKWY.,FREMONT,"SIGMAWAYS, INC",94538,CA,2019-09-08,2016-09-09,2016,SYSTEMS ENGINEER,541511.0,75421.00,Year,Other,OFLC ONLINE DATA CENTER,2015.0,NaN,NaN,1.0,H-1B,90000,Year,FREMONT,CA
647846,I-200-13242-278052,WITHDRAWN,2016-06-29,2016-06-29,"P.O. BOX 500409 CK, SAIPAN MP 96950",SAIPAN,COMMONWEALTH HEALTHCARE CORPORATION,96950,MP,NaT,2013-10-01,2016,PHYSICIAN,62211.0,21.64,Hour,Other,CNMI PREVAILING WAGE & WORKFORCE ASSESSMENT S...,2015.0,NaN,NaN,2.0,H-1B,80000,Year,SAIPAN,MP
647847,I-200-15301-672086,WITHDRAWN,2015-10-28,2015-10-29,3039 CORNWALLIS ROAD,DURHAM,IBM INDIA PRIVATE LIMITED,27709,NC,NaT,NaT,2016,NaN,541510.0,70304.00,Year,OES,OFLC ONLINE DATA CENTER,2015.0,NaN,NaN,1.0,H-1B,70304,NaN,MIDDLETOWN,NJ
647848,I-200-15355-392494,WITHDRAWN,2015-12-21,2015-12-21,NaN,NaN,NaN,NaN,NaN,NaT,NaT,2016,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,H-1B,0,NaN,NaN,NaN
647849,I-200-16063-456774,WITHDRAWN,2016-03-03,2016-03-03,1004 RIDGE HOLLOW TR,IRVING,TECHNOPLUS INC,75063,TX,NaT,NaT,2016,NaN,541511.0,71032.00,Year,OES,OFLC ONLINE DATA CENTER,2015.0,NaN,NaN,0.0,Select Visa Classification,0,NaN,COPPELL,TX
647850,I-200-16069-542344,WITHDRAWN,2016-03-09,2016-03-09,2035 LINCOLN HIGHWAY,EDISON,L&T TECHNOLOGY SERVICES LIMITED,08817,NJ,NaT,NaT,2016,NaN,541330.0,64147.00,Year,OES,OFLC ONLINE DATA CENTER,2015.0,NaN,NaN,0.0,H-1B,64147,Year,GLENDALE,CA
647851,I-200-16155-398922,CERTIFIED,2016-06-03,2016-06-09,200 METROPLEX DRIVE,EDISON,"IRIS SOFTWARE, INC.",08817,NJ,NaT,NaT,2016,NaN,541511.0,40.26,Hour,OES,OFLC ONLINE DATA CENTER,2015.0,NaN,NaN,0.0,H-1B,100000,Year,FORT MILL,SC

In [94]:
h1b.reset_index(inplace = True, drop = True)
h1b.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_NAME,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYMENT_END_DATE,EMPLOYMENT_START_DATE,FISCAL_YEAR,JOB_TITLE,NAIC_CODE,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_OTHER,PW_WAGE_SOURCE_YEAR,SOC_CODE,SOC_NAME,TOTAL_WORKERS,VISA_CLASS,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,WORKSITE_CITY,WORKSITE_STATE
0,I-200-09106-546545,CERTIFIED-WITHDRAWN,2015-02-09,2015-02-09,601 UNIVERSITY DRIVE,SAN MARCOS,TEXAS STATE UNIVERSITY-SAN MARCOS,78666,TX,2016-02-01,2013-02-01,2014,POSTDOCTORAL RESEARCH ASSOCIATE,611310.0,43118.0,Year,OES,OFLC ONLINE DATA CENTER,2013.0,19-1029,"Biological Scientists, All Other",1.0,H-1B,50000,Year,SAN MARCOS,TX
1,I-200-09162-143337,CERTIFIED,2015-01-05,2015-01-05,1901 N. MERIDIAN ST.,INDIANAPOLIS,"EYE SPECIALISTS OF INDIANA, P.C.",46202,IN,2017-09-15,2014-09-15,2014,OPTOMETRIST,621320.0,64251.0,Year,Other,OFLC ONLINE DATA CENTER,2013.0,29-1041,Optometrists,1.0,H-1B,65000,Year,INDIANAPOLIS,IN
2,I-200-09182-550211,DENIED,2013-01-07,2013-01-07,21 WEST SUPERIOR STREET,DULUTH,"LHB, INC.",55802,MN,2015-04-01,2014-04-01,2014,FOOD SAFETY SCIENTIST,541330.0,50000.0,Year,OES,OFLIC ONLINE,2014.0,27-2011,Actors,1.0,H-1B,50000,Year,FARG,WI
3,I-200-09193-873099,CERTIFIED,2015-09-07,2015-09-07,75 BOULDERBROOK CIRCLE,LAWRENCEVILLE,"WAM USA, INC.",30045,GA,2017-08-27,2014-08-28,2014,INTERNATIONAL ACCOUNTANT,333922.0,47424.0,Year,Other,OFLC ONLINE DATA CENTER,2014.0,13-2011,Accountants and Auditors,1.0,H-1B,48000,Year,LAWRENCEVILLE,GA
4,I-200-09197-120609,CERTIFIED-WITHDRAWN,2015-06-06,2015-06-06,20143 DESERT FOREST DRIVE,ASHBURN,"DFUSE TECHNOLOGIES, INC.",20147,VA,2017-09-01,2014-09-01,2014,PROGRAMMER ANALYST,541519.0,61589.0,Year,OES,OFLC ONLINE DATA CENTER,2013.0,15-1131,Computer Programmers,1.0,H-1B,62000,Year,SAN JOSE,CA

In [95]:
h1b.tail()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_NAME,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYMENT_END_DATE,EMPLOYMENT_START_DATE,FISCAL_YEAR,JOB_TITLE,NAIC_CODE,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_OTHER,PW_WAGE_SOURCE_YEAR,SOC_CODE,SOC_NAME,TOTAL_WORKERS,VISA_CLASS,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,WORKSITE_CITY,WORKSITE_STATE
1786155,I-200-15301-672086,WITHDRAWN,2015-10-28,2015-10-29,3039 CORNWALLIS ROAD,DURHAM,IBM INDIA PRIVATE LIMITED,27709,NC,NaT,NaT,2016,NaN,541510.0,70304.00,Year,OES,OFLC ONLINE DATA CENTER,2015.0,NaN,NaN,1.0,H-1B,70304,NaN,MIDDLETOWN,NJ
1786156,I-200-15355-392494,WITHDRAWN,2015-12-21,2015-12-21,NaN,NaN,NaN,NaN,NaN,NaT,NaT,2016,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,H-1B,0,NaN,NaN,NaN
1786157,I-200-16063-456774,WITHDRAWN,2016-03-03,2016-03-03,1004 RIDGE HOLLOW TR,IRVING,TECHNOPLUS INC,75063,TX,NaT,NaT,2016,NaN,541511.0,71032.00,Year,OES,OFLC ONLINE DATA CENTER,2015.0,NaN,NaN,0.0,Select Visa Classification,0,NaN,COPPELL,TX
1786158,I-200-16069-542344,WITHDRAWN,2016-03-09,2016-03-09,2035 LINCOLN HIGHWAY,EDISON,L&T TECHNOLOGY SERVICES LIMITED,08817,NJ,NaT,NaT,2016,NaN,541330.0,64147.00,Year,OES,OFLC ONLINE DATA CENTER,2015.0,NaN,NaN,0.0,H-1B,64147,Year,GLENDALE,CA
1786159,I-200-16155-398922,CERTIFIED,2016-06-03,2016-06-09,200 METROPLEX DRIVE,EDISON,"IRIS SOFTWARE, INC.",08817,NJ,NaT,NaT,2016,NaN,541511.0,40.26,Hour,OES,OFLC ONLINE DATA CENTER,2015.0,NaN,NaN,0.0,H-1B,100000,Year,FORT MILL,SC

In [96]:
h1b.loc[504331]

CASE_NUMBER                                     I-200-14262-139902
CASE_STATUS                                              CERTIFIED
CASE_SUBMITTED                                 2015-07-22 00:00:00
DECISION_DATE                                  2015-07-22 00:00:00
EMPLOYER_ADDRESS                               12510 E BELFORD AVE
EMPLOYER_CITY                                            ENGLEWOOD
EMPLOYER_NAME                                   WESTERN UNION, LLC
EMPLOYER_POSTAL_CODE                                         80112
EMPLOYER_STATE                                                  CO
EMPLOYMENT_END_DATE                            2017-11-23 00:00:00
EMPLOYMENT_START_DATE                          2014-11-24 00:00:00
FISCAL_YEAR                                                   2014
JOB_TITLE                                TECHNICAL PRODUCT MANAGER
NAIC_CODE                                                   522320
PREVAILING_WAGE                                             140005
PW_UNIT_OF_PAY                                                Year
PW_WAGE_SOURCE                                                 OES
PW_WAGE_SOURCE_OTHER                       OFLC ONLINE DATA CENTER
PW_WAGE_SOURCE_YEAR                                           2014
SOC_CODE                                                   11-3021
SOC_NAME                 Computer and Information Systems Managers
TOTAL_WORKERS                                                    1
VISA_CLASS                                                    H-1B
WAGE_RATE_OF_PAY                                            140005
WAGE_UNIT_OF_PAY                                              Year
WORKSITE_CITY                                        SAN FRANCISCO
WORKSITE_STATE                                                  CA
Name: 504331, dtype: object

In [97]:
# Export to CSV
h1b.to_csv('h1b.csv')

> ## Sanity check all columns for data integrity and missing values

In [98]:
ppf.ProfileReport(h1b)

> ## Clean wage rate of pay

In [99]:
h1b.WAGE_RATE_OF_PAY.value_counts(dropna = False).head()

60000.0    79671
65000.0    29553
60000 -    28745
70000.0    28074
75000.0    20920
Name: WAGE_RATE_OF_PAY, dtype: int64

In [100]:
# Remove symbols and convert to numeric - add additional column for to and from
wrop = h1b['WAGE_RATE_OF_PAY'].map(str)
wrop_split = [x.split('-') for x in list(wrop)]

In [101]:
wage_rate_of_pay_lower = []
wage_rate_of_pay_upper = []

In [102]:
for x in wrop_split:
    if len(x) == 1:
        wage_rate_of_pay_lower.append(x[0])
        wage_rate_of_pay_upper.append(x[0])
    else:
        wage_rate_of_pay_lower.append(x[0])
        wage_rate_of_pay_upper.append(x[1])

In [103]:
wage_strip_upper = [x.strip() for x in wage_rate_of_pay_upper]
wage_rate_of_pay_lower_num = [0 if x == 'nan' or x == '' else float(x) for x in wage_rate_of_pay_lower]
wage_rate_of_pay_upper_num = [0 if x == 'nan' or x == '' or x == 'N/A' else float(x) for x in wage_strip_upper]

In [104]:
# add to h1b and drop original column
h1b.drop(['WAGE_RATE_OF_PAY'], axis = 1, inplace = True)
h1b['WAGE_RATE_OF_PAY_LOWER_BOUND'] = wage_rate_of_pay_lower_num
h1b['WAGE_RATE_OF_PAY_UPPER_BOUND'] = wage_rate_of_pay_upper_num

In [105]:
h1b.columns

Index(['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_NAME',
       'EMPLOYER_POSTAL_CODE', 'EMPLOYER_STATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYMENT_START_DATE', 'FISCAL_YEAR', 'JOB_TITLE', 'NAIC_CODE',
       'PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'PW_WAGE_SOURCE',
       'PW_WAGE_SOURCE_OTHER', 'PW_WAGE_SOURCE_YEAR', 'SOC_CODE', 'SOC_NAME',
       'TOTAL_WORKERS', 'VISA_CLASS', 'WAGE_UNIT_OF_PAY', 'WORKSITE_CITY',
       'WORKSITE_STATE', 'WAGE_RATE_OF_PAY_LOWER_BOUND',
       'WAGE_RATE_OF_PAY_UPPER_BOUND'],
      dtype='object')

> ## Check for missing values in select columns

In [106]:
# Delete wage_source_other since there are 30k+ missing values
h1b.drop(['PW_WAGE_SOURCE_OTHER'], axis = 1, inplace = True)

In [107]:
null_data = h1b[h1b.isnull().any(axis=1)]

In [108]:
len(null_data)

4885

In [109]:
null_data.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_NAME,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYMENT_END_DATE,EMPLOYMENT_START_DATE,FISCAL_YEAR,JOB_TITLE,NAIC_CODE,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,SOC_CODE,SOC_NAME,TOTAL_WORKERS,VISA_CLASS,WAGE_UNIT_OF_PAY,WORKSITE_CITY,WORKSITE_STATE,WAGE_RATE_OF_PAY_LOWER_BOUND,WAGE_RATE_OF_PAY_UPPER_BOUND
95,I-200-10102-762348,WITHDRAWN,2015-08-10,2015-08-10,NaN,NaN,NaN,NaN,NaN,2013-09-20,2010-09-20,2014,SR. RESEARCH ENGINEER,NaN,NaN,NaN,NaN,NaN,17-2031.00,Biomedical Engineers,1.0,H-1B,NaN,NaN,NaN,0.0,0.0
118,I-200-10146-697955,WITHDRAWN,2014-09-14,2014-09-14,NaN,NaN,NaN,NaN,NaN,2013-12-01,2010-12-01,2014,SR. DESIGN ENGINEER,NaN,NaN,NaN,NaN,NaN,17-2072.00,"Electronics Engineers, Except Computer",1.0,H-1B,NaN,NaN,NaN,0.0,0.0
164,I-200-10239-643335,CERTIFIED-WITHDRAWN,2015-04-09,2015-04-09,8250 JONES BRANCH DRIVE,MCLEAN,FEDERAL HOME LOAN MORTGAGE CORPORATION,22102,VA,2014-02-20,2011-02-21,2014,"DEVELOPMENT, PROFESSIONAL",522294.0,55432.0,Year,OES,2010.0,15-1021,NaN,1.0,H-1B,Year,MCLEAN,VA,66600.0,66600.0
207,I-200-10267-795585,CERTIFIED-WITHDRAWN,2015-06-30,2015-06-30,1861 INTERNATIONAL DRIVE,MCLEAN,MICROSTRATEGY INCORPORATED,22102,VA,2013-12-05,2010-12-05,2014,SOFTWARE ENGINEER,5415.0,66622.0,Year,OES,2010.0,15-031,NaN,1.0,H-1B,Year,VIENNA,VA,66700.0,66700.0
482,I-200-10343-052953,CERTIFIED-WITHDRAWN,NaT,NaT,500 SOUTH BUENA VISTA STREET,BURBANK,"DISNEY WORLDWIDE SERVICES, INC.",91521-0153,CA,2013-12-31,2011-01-01,2014,APPLICATION DEVELOPER,71000.0,76835.0,Year,OES,2010.0,15-1031.00,"Computer Software Engineers, Applications",1.0,H-1B,Year,BURBANK,CA,76835.0,76835.0

In [110]:
# Investigate cases where status is withdrawn and most columns are NaN
withdrawn = null_data.loc[null_data['CASE_STATUS'] == 'WITHDRAWN']

In [111]:
withdrawn.head(20)

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_NAME,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYMENT_END_DATE,EMPLOYMENT_START_DATE,FISCAL_YEAR,JOB_TITLE,NAIC_CODE,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,SOC_CODE,SOC_NAME,TOTAL_WORKERS,VISA_CLASS,WAGE_UNIT_OF_PAY,WORKSITE_CITY,WORKSITE_STATE,WAGE_RATE_OF_PAY_LOWER_BOUND,WAGE_RATE_OF_PAY_UPPER_BOUND
95,I-200-10102-762348,WITHDRAWN,2015-08-10,2015-08-10,NaN,NaN,NaN,NaN,NaN,2013-09-20,2010-09-20,2014,SR. RESEARCH ENGINEER,NaN,NaN,NaN,NaN,NaN,17-2031.00,Biomedical Engineers,1.0,H-1B,NaN,NaN,NaN,0.0,0.0
118,I-200-10146-697955,WITHDRAWN,2014-09-14,2014-09-14,NaN,NaN,NaN,NaN,NaN,2013-12-01,2010-12-01,2014,SR. DESIGN ENGINEER,NaN,NaN,NaN,NaN,NaN,17-2072.00,"Electronics Engineers, Except Computer",1.0,H-1B,NaN,NaN,NaN,0.0,0.0
893,I-200-11045-801084,WITHDRAWN,2012-08-26,2012-08-26,5300 CALIFORNIA AVE.,IRVINE,BROADCOM CORPORATION,92617,CA,2014-08-04,2011-08-05,2014,FINANCIAL ANALYST,334413.0,51501.0,Year,OES,2011.0,13-2099.00,NaN,1.0,H-1B,Year,IRVINE,CA,55000.0,55000.0
1987,I-200-11110-035198,WITHDRAWN,2012-10-01,2012-10-01,1 TOWER CENTER BLVD.FLOOR 18,EAST BRUNSWICK,ARICENT TECHNOLOGIES (HOLDINGS) LTD.,08816,NJ,2014-07-31,2011-08-01,2014,COMPUTER PROGRAMMER ANALYST,541511.0,86590.0,Year,OES,2010.0,15-1051,NaN,1.0,H-1B,Year,BELLEVUE,WA,86950.0,86950.0
2388,I-200-11136-137833,WITHDRAWN,2012-10-01,2012-10-01,2325 ORCHARD PARKWAY,SAN JOSE,ATMEL CORPORATION,95131,CA,2014-09-30,2011-10-01,2014,ASSOCIATE APPLICATIONS/SYSTEMS ENGINEER,33441.0,64192.0,Year,Other,2011.0,15-1031,NaN,1.0,H-1B,Year,SAN JOSE,CA,79000.0,79000.0
2600,I-200-11151-102215,WITHDRAWN,2012-10-01,2012-10-01,1 TOWER CENTER BLVD. FLOOR 18,EAST BRUNSWICK,ARICENT TECHNOLOGIES (HOLDINGS) LTD.,08816,NJ,2014-09-30,2011-10-01,2014,COMPUTER SYSTEMS ANALYST,541511.0,61214.0,Year,OES,2010.0,15-1051,NaN,1.0,H-1B,Year,EAST BRUNSWICK,NJ,61214.0,61214.0
2604,I-200-11151-312974,WITHDRAWN,2012-10-01,2012-10-01,ONE TOWER CENTER BLVD.,EAST BRUNSWICK,DATALINX CORPORATION,08816,NJ,2014-09-30,2011-10-01,2014,COMPUTER SYSTEMS ANALYST,541511.0,67704.0,Year,OES,2010.0,15-1051,NaN,1.0,H-1B,Year,IRVING,TX,70000.0,70000.0
3057,I-200-11174-856482,WITHDRAWN,2012-10-01,2012-10-01,200 EAST NORTH AVENUE,BALTIMORE,BALTIMORE CITY PUBLIC SCHOOLS,21202,MD,2014-07-01,2011-07-01,2014,"TEACHER, SPECIAL EDUCATION",611110.0,50741.0,Year,CBA,2011.0,25-2043,NaN,1.0,H-1B,Year,BALTIMORE,MD,50741.0,50741.0
3496,I-200-11206-028249,WITHDRAWN,2012-09-23,2012-09-23,5300 CALIFORNIA AVE.,IRVINE,BROADCOM CORPORATION,92617,CA,2014-09-30,2011-10-01,2014,"ENGINEER, PRINCIPAL - SOFTWARE",334413.0,133078.0,Year,OES,2011.0,15-1132.00,NaN,1.0,H-1B,Year,SANTA CLARA,CA,133100.0,133100.0
3728,I-200-11217-302643,WITHDRAWN,2014-10-13,2014-10-13,2325 ORCHARD PARKWAY,SAN JOSE,ATMEL CORPORATION,95131,CA,2014-08-28,2011-08-29,2014,SENIOR SYSTEMS ARCHITECT,33441.0,120786.0,Year,OES,2011.0,15-1099,NaN,1.0,H-1B,Year,SAN JOSE,CA,120786.0,120786.0
3825,I-200-11223-087573,WITHDRAWN,2012-08-06,2012-08-06,5300 CALIFORNIA AVE.,IRVINE,BROADCOM CORPORATION,92617,CA,2014-09-30,2011-10-01,2014,"ENGINEER, SR STAFF - SOFTWARE DEVELOPMENT",334413.0,116355.0,Year,OES,2011.0,15-1132.00,NaN,1.0,H-1B,Year,SUNNYVALE,CA,128651.0,128651.0
3835,I-200-11223-829335,WITHDRAWN,2013-01-01,2013-01-01,NaN,PHOENIX,NaN,85004,AZ,2014-09-29,2011-09-30,2014,ENGINEER II,212299.0,72072.0,Year,OES,2011.0,11-3051,Industrial Production Managers,1.0,H-1B,Year,NaN,AZ,79300.0,79300.0
4067,I-200-11235-513352,WITHDRAWN,2013-01-31,2013-01-31,500 THIRD STREET,SAN FRANCISCO,"WIKIA, INC.",94107,CA,2014-09-30,2011-10-01,2014,SENIOR SOFTWARE ENGINEER,518210.0,107099.0,Year,OES,2011.0,15-1132.00,NaN,1.0,H-1B,Year,SAN FRANCISCO,CA,107099.0,107099.0
4308,I-200-11249-933009,WITHDRAWN,2012-09-24,2012-09-24,5300 CALIFORNIA AVE.,IRVINE,BROADCOM CORPORATION,92617,CA,2014-09-11,2011-09-12,2014,"ENGINEER, PRINCIPAL - SOFTWARE DEVELOPMENT",334413.0,133078.0,Year,OES,2011.0,15-1132.00,NaN,1.0,H-1B,Year,SUNNYVALE,CA,145000.0,145000.0
4582,I-200-11264-168595,WITHDRAWN,2012-10-02,2012-10-02,5300 CALIFORNIA AVE.,IRVINE,BROADCOM CORPORATION,92617,CA,2014-09-30,2011-10-01,2014,"BUSINESS SYSTEMS ANALYST, SR. STAFF",334413.0,96158.0,Year,OES,2011.0,15-1121.00,NaN,1.0,H-1B,Year,IRVINE,CA,97000.0,97000.0
4931,I-200-11284-705840,WITHDRAWN,2012-11-07,2012-11-07,4025 SOUTH RIVERPOINT PARKWAY,PHOENIX,"APOLLO GROUP, INC.",85040,AZ,2014-10-30,2011-10-31,2014,SOFTWARE QUALITY ASSURANCE ANALYST II,611310.0,75587.0,Year,OES,2011.0,15-1799.00,NaN,1.0,H-1B,Year,TEMPE,AZ,85000.0,85000.0
5021,I-200-11287-958426,WITHDRAWN,2013-04-01,2013-04-01,3131 BRIARCREST DRIVE,BRYAN,"BRYAN RESEARCH & ENGINEERING, INC.",77802,TX,2014-10-31,2011-11-01,2014,DEVELOPMENT ENGINEER,541330.0,57138.0,Year,Other,2011.0,15-1132.00,NaN,1.0,H-1B,Year,BRYAN,TX,65000.0,65000.0
5111,I-200-11293-425316,WITHDRAWN,2012-12-01,2012-12-01,4025 SOUTH RIVERPOINT PARKWAY,PHOENIX,"APOLLO GROUP, INC.",85040,AZ,2014-11-13,2011-11-14,2014,SOFTWARE ENGINEER,611310.0,61006.0,Year,OES,2011.0,15-1132.00,NaN,1.0,H-1B,Year,TEMPE,AZ,75000.0,75000.0
5175,I-200-11298-193971,WITHDRAWN,2012-12-03,2012-12-03,4025 SOUTH RIVERPOINT PARKWAY,PHOENIX,"APOLLO GROUP, INC.",85040,AZ,2014-12-11,2011-12-12,2014,SENIOR DATABASE ADMINISTRATOR II,611310.0,69389.0,Year,OES,2011.0,15-1141.00,NaN,1.0,H-1B,Year,PHOENIX,AZ,80000.0,80000.0
5216,I-200-11299-851647,WITHDRAWN,2013-04-19,2013-04-19,4025 SOUTH RIVERPOINT PARKWAY,PHOENIX,"APOLLO GROUP, INC.",85040,AZ,2014-11-20,2011-11-21,2014,SOFTWARE ENGINEER II,611310.0,76710.0,Year,OES,2011.0,15-1132.00,NaN,1.0,H-1B,Year,TEMPE,AZ,85000.0,85000.0

> ## Delete rows where CASE_STATUS is 'withdrawn' and most other columns are NaN

In [112]:
h1b.sort_values(by=['CASE_STATUS', 'PREVAILING_WAGE', 'EMPLOYER_NAME']).tail(32).index

Int64Index([ 23140,     95,    118,   8925,  19726,  20961,  21019,  21672,
             21848,  22143,  22187,  24176, 159643, 285769, 334724, 371735,
            376880, 516456, 519986, 528429, 535884, 537124, 539166, 542245,
            545037, 570934, 580016, 608725, 721014, 742564, 743107, 760560],
           dtype='int64')

In [113]:
h1b.sort_values(by=['CASE_STATUS', 'PREVAILING_WAGE', 'EMPLOYER_NAME']).tail(32)

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_NAME,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYMENT_END_DATE,EMPLOYMENT_START_DATE,FISCAL_YEAR,JOB_TITLE,NAIC_CODE,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,SOC_CODE,SOC_NAME,TOTAL_WORKERS,VISA_CLASS,WAGE_UNIT_OF_PAY,WORKSITE_CITY,WORKSITE_STATE,WAGE_RATE_OF_PAY_LOWER_BOUND,WAGE_RATE_OF_PAY_UPPER_BOUND
23140,I-200-13228-281864,WITHDRAWN,2014-07-28,2014-07-28,NaN,NaN,VOID,NaN,NaN,2016-09-08,2013-09-09,2014,"PROFESSIONAL SERVICES, SENIOR ENGINEER",NaN,NaN,NaN,NaN,NaN,15-1133,"Software Developers, Systems Software",1.0,H-1B,NaN,NaN,NaN,0.0,0.0
95,I-200-10102-762348,WITHDRAWN,2015-08-10,2015-08-10,NaN,NaN,NaN,NaN,NaN,2013-09-20,2010-09-20,2014,SR. RESEARCH ENGINEER,NaN,NaN,NaN,NaN,NaN,17-2031.00,Biomedical Engineers,1.0,H-1B,NaN,NaN,NaN,0.0,0.0
118,I-200-10146-697955,WITHDRAWN,2014-09-14,2014-09-14,NaN,NaN,NaN,NaN,NaN,2013-12-01,2010-12-01,2014,SR. DESIGN ENGINEER,NaN,NaN,NaN,NaN,NaN,17-2072.00,"Electronics Engineers, Except Computer",1.0,H-1B,NaN,NaN,NaN,0.0,0.0
8925,I-200-12111-276328,WITHDRAWN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,2015-04-20,2012-04-21,2014,SYSTEMS ANALYST,NaN,NaN,NaN,NaN,NaN,15-1121,Computer Systems Analysts,1.0,H-1B,NaN,NaN,NaN,0.0,0.0
19726,I-200-13113-920834,WITHDRAWN,2014-10-15,2014-10-15,NaN,NaN,NaN,NaN,NaN,2016-06-19,2013-06-20,2014,PHYSICIAN IN A POST GRADUATE TRAINING PROGAM,NaN,NaN,NaN,NaN,NaN,29-1069,"Physicians and Surgeons, All Other",1.0,H-1B,NaN,NaN,NaN,0.0,0.0
20961,I-200-13157-863477,WITHDRAWN,2014-07-01,2014-07-01,NaN,NaN,NaN,NaN,NaN,2016-06-30,2013-07-01,2014,RESEACH ASSOCIATE,NaN,NaN,NaN,NaN,NaN,19-4021,Biological Technicians,2.0,H-1B,NaN,NaN,NaN,0.0,0.0
21019,I-200-13161-257793,WITHDRAWN,2014-06-01,2014-06-01,NaN,NaN,NaN,NaN,NaN,2016-06-30,2013-07-01,2014,HOSPITALIST,NaN,NaN,NaN,NaN,NaN,29-1065,"Pediatricians, General",1.0,H-1B,NaN,NaN,NaN,0.0,0.0
21672,I-200-13183-169717,WITHDRAWN,2014-07-01,2014-07-01,NaN,NaN,NaN,NaN,NaN,2016-07-31,2013-08-01,2014,PHYSICIAN IN A POST GRADUATE TRAINING PROGRAM,NaN,NaN,NaN,NaN,NaN,29-1069,"Physicians and Surgeons, All Other",1.0,H-1B,NaN,NaN,NaN,0.0,0.0
21848,I-200-13190-491183,WITHDRAWN,2014-09-30,2014-09-30,NaN,NaN,NaN,NaN,NaN,2016-07-28,2013-07-29,2014,RESEARCH ASSOCIATE,NaN,NaN,NaN,NaN,NaN,19-4021,Biological Technicians,1.0,H-1B,NaN,NaN,NaN,0.0,0.0
22143,I-200-13199-289446,WITHDRAWN,2015-03-10,2015-03-10,NaN,NaN,NaN,NaN,NaN,2016-07-31,2013-08-01,2014,POST-DOCTORAL RESEARCH SCIENTIST,NaN,NaN,NaN,NaN,NaN,19-1042,"Medical Scientists, Except Epidemiologists",1.0,H-1B,NaN,NaN,NaN,0.0,0.0
22187,I-200-13199-989808,WITHDRAWN,2014-06-25,2014-06-25,NaN,NaN,NaN,NaN,NaN,2015-08-18,2013-08-19,2014,JUNIOR ASSISTANT ATTENDING PHYSICIAN,NaN,NaN,NaN,NaN,NaN,29-1069,"Physicians and Surgeons, All Other",1.0,H-1B,NaN,NaN,NaN,0.0,0.0
24176,I-200-13254-128437,WITHDRAWN,2014-08-19,2014-08-19,NaN,NaN,NaN,NaN,NaN,2016-09-30,2013-10-01,2014,RESEARCH ASSOCIATE,NaN,NaN,NaN,NaN,NaN,19-1042,"Medical Scientists, Except Epidemiologists",1.0,H-1B,NaN,NaN,NaN,0.0,0.0
159643,I-200-14045-327339,WITHDRAWN,2015-08-01,2015-08-01,NaN,NaN,NaN,NaN,NaN,2017-06-30,2014-07-01,2014,PHYSICIAN IN A POST GRADUATE TRAINING PROGRAM,NaN,NaN,NaN,NaN,NaN,29-1069,"Physicians and Surgeons, All Other",5.0,H-1B,NaN,NaN,NaN,0.0,0.0
285769,I-200-14077-588617,WITHDRAWN,2015-09-07,2015-09-07,NaN,NaN,NaN,NaN,CA,2017-09-14,2014-09-14,2014,JUNIOR TEST ENGINEER,NaN,NaN,NaN,NaN,NaN,17-2141,Mechanical Engineers,1.0,H-1B,NaN,NaN,NaN,0.0,0.0
334724,I-200-14097-029960,WITHDRAWN,2015-09-01,2015-09-01,NaN,NaN,NaN,NaN,NaN,2017-06-30,2014-07-01,2014,ATTENDING PHYSICIAN,NaN,NaN,NaN,NaN,NaN,29-1069,"Physicians and Surgeons, All Other",1.0,H-1B,NaN,NaN,NaN,0.0,0.0
371735,I-200-14128-784489,WITHDRAWN,2015-09-10,2015-09-10,NaN,NaN,NaN,NaN,NaN,2016-06-30,2014-07-01,2014,PHYSICIAN IN A POST GRADUATE TRAINING PROGRAM,NaN,NaN,NaN,NaN,NaN,29-1069,"Physicians and Surgeons, All Other",3.0,H-1B,NaN,NaN,NaN,0.0,0.0
376880,I-200-14134-267890,WITHDRAWN,2015-07-01,2015-07-01,NaN,NaN,NaN,NaN,NaN,2017-06-30,2014-07-01,2014,PHYSICIAN IN A POST GRADUATE TRAINING PROGRAM,NaN,NaN,NaN,NaN,NaN,29-1069,"Physicians and Surgeons, All Other",3.0,H-1B,NaN,NaN,NaN,0.0,0.0
516456,I-203-14150-110774,WITHDRAWN,2015-07-13,2015-07-13,NaN,NaN,NaN,NaN,NaN,2016-06-01,2014-06-01,2014,123,NaN,NaN,NaN,NaN,NaN,15-2011,Actuaries,1.0,E-3 Australian,NaN,NaN,NaN,0.0,0.0
519986,I-200-11314-326929,WITHDRAWN,2014-12-24,2014-12-30,nan,NaN,NaN,NaN,NaN,NaT,NaT,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H-1B,NaN,NaN,NaN,0.0,0.0
528429,I-200-13102-386383,WITHDRAWN,2014-12-24,2014-12-30,nan,NaN,NaN,NaN,NaN,NaT,NaT,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H-1B,NaN,NaN,NaN,0.0,0.0
535884,I-200-14064-847406,WITHDRAWN,2014-12-24,2014-12-24,nan,NaN,NaN,NaN,NaN,NaT,NaT,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H-1B,NaN,NaN,NaN,0.0,0.0
537124,I-200-14073-483514,WITHDRAWN,2014-12-24,2014-12-24,nan,NaN,NaN,NaN,NaN,NaT,NaT,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H-1B,NaN,NaN,NaN,0.0,0.0
539166,I-200-14099-816730,WITHDRAWN,2014-10-09,2014-10-16,nan,NaN,NaN,NaN,NaN,NaT,NaT,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H-1B,NaN,NaN,NaN,0.0,0.0
542245,I-200-14195-455989,WITHDRAWN,2014-10-09,2014-10-16,nan,NaN,NaN,NaN,NaN,NaT,NaT,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H-1B,NaN,NaN,NaN,0.0,0.0
545037,I-200-14258-290155,WITHDRAWN,2015-02-04,2015-02-06,nan,NaN,NaN,NaN,NaN,NaT,NaT,2015,NaN,NaN,NaN,NaN,NaN,NaN,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",NaN,H-1B,NaN,NaN,NaN,0.0,0.0
570934,I-200-14295-518850,WITHDRAWN,2015-01-12,2015-01-14,nan,NaN,NaN,NaN,NaN,NaT,NaT,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H-1B,NaN,NaN,NaN,0.0,0.0
580016,I-200-14307-066091,WITHDRAWN,2015-01-12,2015-01-14,nan,NaN,NaN,NaN,NaN,NaT,NaT,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H-1B,NaN,NaN,NaN,0.0,0.0
608725,I-200-14339-681526,WITHDRAWN,2014-12-05,2014-12-16,nan,NaN,NaN,NaN,NaN,2018-08-31,2015-09-01,2015,PUBLIC RELATIONS SPECIALIST,NaN,NaN,NaN,OES,2014.0,27-3031,PUBLIC RELATIONS SPECIALISTS,1.0,H-1B,NaN,NaN,NaN,0.0,0.0
721014,I-200-15049-382092,WITHDRAWN,2015-02-18,2015-02-24,nan,NaN,NaN,NaN,NaN,NaT,NaT,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H-1B,NaN,NaN,NaN,0.0,0.0
742564,I-200-15055-664971,WITHDRAWN,2015-03-02,2015-03-05,nan,NaN,NaN,NaN,NaN,NaT,NaT,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H-1B,NaN,NaN,NaN,0.0,0.0
743107,I-200-15055-785381,WITHDRAWN,2015-02-24,2015-02-24,nan,NaN,NaN,NaN,NaN,NaT,NaT,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H-1B,NaN,NaN,NaN,0.0,0.0
760560,I-200-15060-423031,WITHDRAWN,2015-03-02,2015-03-05,nan,NaN,NaN,NaN,NaN,NaT,NaT,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H-1B,NaN,NaN,NaN,0.0,0.0

In [114]:
h1b.drop(h1b.index[[23140,     95,    118,   8925,  19726,  20961,  21019,  21672,
             21848,  22143,  22187,  24176, 159643, 285769, 334724, 371735,
            376880, 516456, 519986, 528429, 535884, 537124, 539166, 542245,
            545037, 570934, 580016, 608725, 721014, 742564, 743107, 760560]], inplace = True)

In [115]:
h1b.sort_values(by=['CASE_STATUS', 'PREVAILING_WAGE']).tail(32)

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_NAME,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYMENT_END_DATE,EMPLOYMENT_START_DATE,FISCAL_YEAR,JOB_TITLE,NAIC_CODE,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,SOC_CODE,SOC_NAME,TOTAL_WORKERS,VISA_CLASS,WAGE_UNIT_OF_PAY,WORKSITE_CITY,WORKSITE_STATE,WAGE_RATE_OF_PAY_LOWER_BOUND,WAGE_RATE_OF_PAY_UPPER_BOUND
509544,I-202-14066-672397,WITHDRAWN,2015-06-26,2015-06-26,136 EAST MICHIGAN AVENUE,KALAMAZOO,"THE CONNABLE OFFICE, INC.",49007-3936,MI,2017-06-22,2014-06-23,2014,INVESTMENT ANALYST,525920.0,500003.0,Year,OES,2013.0,13-2051,Financial Analysts,1.0,H-1B1 Singapore,Year,KALAMAZOO,MI,52221.10,52221.10
48479,I-200-13302-137484,WITHDRAWN,2015-02-27,2015-02-27,321 S MAIN STREET,ANN ARBOR,TEKWISSEN LLC,48104,MI,2016-11-10,2013-11-10,2014,PROGRAMMER ANALYST,541511.0,503360.0,Year,Other,2013.0,15-1121,Computer Systems Analysts,1.0,H-1B,Year,WILLIAMSVILLE,NY,60000.00,60000.00
1619931,I-200-16070-390015,WITHDRAWN,2016-03-10,2016-03-14,5410 NEWPORT DRIVE,ROLLING MEADOWS,"BIZNUSSOFT, INC",60008,IL,2019-09-04,2016-09-06,2016,TECHNICAL PRODUCT ARCHITECT,541512.0,535706.0,Year,Other,2016.0,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",1.0,H-1B,Year,ROLLING MEADOWS,IL,54000.00,54000.00
55719,I-200-13308-470397,WITHDRAWN,2014-10-31,2014-10-31,"3039 CORNWALLIS ROAD, P.O. BOX 12195",RTP,IBM INDIA PRIVATE LIMITED,27709,NC,2016-09-30,2014-05-05,2014,TECHNICAL LEAD,541510.0,558698.0,Year,OES,2013.0,15-1131,Computer Programmers,1.0,H-1B,Year,TAMPA,FL,61050.00,61050.00
267099,I-200-14073-538115,WITHDRAWN,2015-09-01,2015-09-01,"2500 PACKARD STREET, STE 201",ANN ARBOR,"MORLOGIC, INC.",48105,MI,2017-09-12,2014-09-13,2014,SOFTWARE ENGINEER,541512.0,577782.0,Year,OES,2014.0,15-1132,"Software Developers, Applications",1.0,H-1B,Year,ANN ARBOR,MI,60000.00,60000.00
407312,I-200-14163-638772,WITHDRAWN,2015-10-01,2015-10-01,ONE CORPORATE PLACE SOUTH,PISCATAWAY,"SYNECHRON, INC.",08854,NJ,2017-10-25,2014-10-25,2014,PROGRAMMER ANALYST,541511.0,697701.1,Year,OES,2013.0,15-1121,Computer Systems Analysts,1.0,H-1B,Year,NASHVILLE,TN,81000.00,81000.00
850051,I-200-15073-888227,WITHDRAWN,2015-03-14,2015-03-17,5214 DIAMOND HEIGHTS BLVD SUITE F-633,SAN FRANCISCO,RAVIG INC,94131,CA,2018-04-30,2015-05-01,2015,SYSTEMS ADMINISTRATOR,5415.0,780000.0,Year,OES,2014.0,15-1142,NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS,1.0,H-1B,Year,WALNUT CREEK,CA,78000.00,94000.00
35157,I-200-13291-471682,WITHDRAWN,2015-02-04,2015-02-04,EXECUTIVE PLAZA,BELLEVUE,IFUSIONIT LLC,98005,WA,2016-10-31,2013-11-01,2014,SOFTWARE DESIGN ENGINEER,541511.0,875478.0,Year,OES,2013.0,15-1132,"Software Developers, Applications",1.0,H-1B,Year,BELLEVUE,WA,87547.00,87547.00
33488,I-200-13274-808058,WITHDRAWN,2014-10-09,2014-10-09,255 W 94TH STREET,NEW YORK,"SECURE ENDPOINTS, INC.",10025,NY,2016-09-30,2013-10-01,2014,SOFTWARE ENGINEER,541511.0,890000.0,Year,OES,2013.0,15-1132,"Software Developers, Applications",1.0,H-1B,Year,NEW YORK,NY,100001.00,100001.00
48034,I-200-13301-779344,WITHDRAWN,2015-02-16,2015-02-16,3039 CORNWALLIS ROAD P.O. BOX 12195,DURHAM,IBM INDIA PRIVATE LIMITED,27709,NC,2016-10-31,2014-04-01,2014,TEST SPECIALIST,541510.0,5846900.0,Year,OES,2013.0,15-1131,Computer Programmers,1.0,H-1B,Year,INDIANAPOLIS,IN,61050.00,61050.00
840556,I-200-15072-304243,WITHDRAWN,2015-03-13,2015-03-13,123 W. MADISON ST SUITE 300,CHICAGO,"ATLAS SOFTWARE TECHNOLOGIES, INC.",60602,IL,2018-03-12,2015-03-13,2015,DEV/OPS ENGINEER,541511.0,8490600.0,Year,OES,2014.0,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",1.0,H-1B,Year,CHICAGO,IL,11000000.00,0.00
242436,I-200-14070-253653,WITHDRAWN,2015-09-01,2015-09-01,1390 TIMBERLAKE MANOR PARKWAY,CHESTERFIELD,AMDOCS INC.,63017,MO,2017-09-10,2014-09-10,2014,PRINCIPLE RF ENGINEER,541511.0,8927400.0,Year,Other,2014.0,15-1199,"Computer Occupations, All Other",1.0,H-1B,Year,HERNDON,VA,115000.00,115000.00
389791,I-200-14148-045695,WITHDRAWN,2015-04-01,2015-04-01,"3039 CORNWALLIS ROAD, PO BOX 12195",DURHAM,IBM CORPORATION,27709,NC,2017-06-01,2014-06-02,2014,MANAGING CONSULTANT,541510.0,8937800.0,Year,OES,2013.0,15-1132,"Software Developers, Applications",1.0,H-1B,Year,SECAUCUS,NJ,96600.00,96600.00
513354,I-203-14031-739144,WITHDRAWN,2015-07-06,2015-07-06,109 WEST 28TH ST. LEVEL 2,NEW YORK,"FOUND ORGANIC USA, LLC",10001,NY,2016-03-04,2014-03-10,2014,MARKET RESEARCH ANALYST,424490.0,8958600.0,Year,OES,2013.0,13-1161,Market Research Analysts and Marketing Special...,1.0,E-3 Australian,Year,MANHATTAN,NY,9500000.00,9500000.00
19320,I-200-13100-605591,WITHDRAWN,2014-05-01,2014-05-01,1111 AMSTERDAM AVENUE,NEW YORK,ST. LUKE'S-ROOSEVELT HOSPITAL CENTER,10025,NY,2016-06-30,2013-07-01,2014,PHYSICIAN,622110.0,NaN,NaN,NaN,NaN,29-1069,"Physicians and Surgeons, All Other",1.0,H-1B,NaN,NaN,NaN,0.00,0.00
19330,I-200-13100-985751,WITHDRAWN,2014-06-30,2014-06-30,355 GRAND STREET,JERSEY CITY,JERSEY CITY MEDICAL CENTER,07302,NJ,2015-06-30,2013-07-01,2014,PHYSICIAN IN A POST GRADUATE TRAINING PROGRAM,622110.0,NaN,NaN,NaN,NaN,29-1069,"Physicians and Surgeons, All Other",1.0,H-1B,NaN,NaN,NaN,0.00,0.00
24631,I-200-13260-139173,WITHDRAWN,2014-09-02,2014-09-02,15800 GAITHER DRIVE,GAITHERSBURG,"CLIENT NETWORK SERVICES, INC.",20877,MD,2016-10-01,2013-10-01,2014,BUSINESS SYSTEMS ANALYST,541511.0,NaN,NaN,NaN,NaN,15-1121,Computer Systems Analysts,1.0,H-1B,NaN,NaN,NaN,0.00,0.00
24925,I-200-13261-580203,WITHDRAWN,2014-10-27,2014-10-27,15800 GAITHER DRIVE,GAITHERSBURG,"CLIENT NETWORK SERVICES, INC.",20877,MD,2016-10-01,2013-10-01,2014,SENIOR BUSINESS SYSTEMS ANALYST,541511.0,NaN,NaN,NaN,NaN,15-1121,Computer Systems Analysts,1.0,H-1B,NaN,NaN,NaN,0.00,0.00
33457,I-200-13274-731036,WITHDRAWN,2014-10-22,2014-10-22,15800 GAITHER DRIVE,GAITHERSBURG,"CLIENT NETWORK SERVICES, INC.",20877,MD,2016-10-16,2013-10-16,2014,SOFTWARE DEVELOPMENT MANAGER,541511.0,NaN,NaN,NaN,NaN,15-1133,"Software Developers, Systems Software",1.0,H-1B,NaN,NaN,NaN,0.00,0.00
62599,I-200-13316-197853,WITHDRAWN,2014-11-04,2014-11-04,6626 SIMS DRIVE,STERLING HEIGHTS,"CRESTTEK, LLC",48313,MI,2016-11-17,2013-11-18,2014,MECHANICAL ENGINEER,58100.0,NaN,NaN,NaN,NaN,17-2141,Mechanical Engineers,1.0,H-1B,NaN,NaN,NaN,0.00,0.00
85485,I-200-13345-009225,WITHDRAWN,2014-12-14,2014-12-14,10025 GOVERNOR WARFIELD PARKWAY,COLUMBIA,"QUALITY SOFTWARE SERVICES, INC.",21044,MD,2016-12-10,2013-12-11,2014,SENIOR JAVA DEVELOPER,541511.0,NaN,NaN,NaN,NaN,15-1132,"Software Developers, Applications",1.0,H-1B,NaN,NaN,NaN,0.00,0.00
131869,I-200-14032-823624,WITHDRAWN,2015-07-06,2015-07-06,4030 LAKE WASHINGTON BLVD,KIRKLAND,ACUMATICA INC,98033,WA,2017-03-31,2014-04-01,2014,VICE PRESIDENT PARTNER STRATEGY,511210.0,NaN,NaN,NaN,NaN,11-2021,Marketing Managers,1.0,H-1B,Year,KIRKLAND,WA,300000.00,300000.00
134080,I-200-14034-958540,WITHDRAWN,2015-02-01,2015-02-01,ONE DELL WAY,ROUND ROCK,DELL MARKETING LP,78682,TX,2017-08-05,2014-08-06,2014,NETWORK SUPPORT ADVISOR,42343.0,NaN,Year,OES,2013.0,15-1142,Network and Computer Systems Administrators,1.0,H-1B,Year,PLANO,TX,0.00,0.00
242065,I-200-14070-202811,WITHDRAWN,2015-07-01,2015-07-01,1653 W. CONGRESS PARKWAY,CHICAGO,RUSH UNIVERSITY MEDICAL CENTER,60612,IL,2016-06-30,2014-07-01,2014,PROFESSOR-CARDIOVASCULAR THORACIC SURGERY,611310.0,NaN,NaN,NaN,NaN,29-1069,"Physicians and Surgeons, All Other",1.0,H-1B,Year,CHICAGO,IL,350000.00,350000.00
338126,I-200-14099-013910,WITHDRAWN,2015-09-10,2015-09-10,FGFGF,FGFGF,FGFGFG,NaN,NaN,2015-10-01,2014-10-01,2014,DFDFDF,11111.0,NaN,NaN,NaN,NaN,13-2011,Accountants and Auditors,1.0,H-1B,Hour,NaN,NaN,13.15,13.15
340549,I-200-14100-597362,WITHDRAWN,2015-09-17,2015-09-17,111 EAST 210TH STREET,BRONX,MONTEFIORE MEDICAL CENTER,10467,NY,2017-06-30,2014-07-01,2014,PHYSICIAN IN A POST GRADUATE TRAINING PROGRAM,622110.0,NaN,NaN,NaN,NaN,29-1069,"Physicians and Surgeons, All Other",8.0,H-1B,NaN,NaN,NaN,0.00,0.00
359231,I-200-14118-414857,WITHDRAWN,2015-03-19,2015-03-19,1100 ALABAMA AVENUE SE,WASHINGTON,DC DBH SAINT ELIZABETHS HOSPITAL,20032,DC,2017-06-30,2014-07-01,2014,PHYSICIAN IN A POST GRADUATE TRAINING PROGRAM,622210.0,NaN,NaN,NaN,NaN,29-1069,"Physicians and Surgeons, All Other",4.0,H-1B,NaN,NaN,NaN,0.00,0.00
460960,I-200-14217-419080,WITHDRAWN,2015-06-01,2015-06-01,517 ROUTE 1 S.,ISELIN,"ECLOUD LABS,INC.",08830,NJ,2017-08-04,2014-08-05,2014,SYSTEMS ANALYST,541511.0,NaN,NaN,NaN,NaN,15-1121,Computer Systems Analysts,1.0,H-1B,NaN,NaN,NaN,0.00,0.00
500837,I-200-14259-552884,WITHDRAWN,2015-11-01,2015-11-01,2000 EOFF STREET,WHEELING,OHIO VALLEY MEDICAL CENTER,26003,WV,2017-12-06,2014-12-07,2014,OB/GYN ATTENDING PHYSICIAN,622110.0,NaN,NaN,NaN,NaN,29-1064,Obstetricians and Gynecologists,1.0,H-1B,Year,NaN,NaN,165000.00,165000.00
533309,I-200-14007-005468,WITHDRAWN,2015-02-10,2015-02-10,"1133 E. MAPLE RD., STE. 200",TROY,"ENGINEERING TECHNOLOGY ASSOCIATES, INC.",48083,MI,NaT,NaT,2015,PROJECT ENGINEER,541330.0,NaN,Year,OES,NaN,17-2199,"ENGINEERS, ALL OTHER",1.0,H-1B,Year,NaN,NaN,60000.00,0.00
942623,I-200-15106-549777,WITHDRAWN,2015-04-16,2015-04-16,6300 WILSON MILLS ROAD,MAYFIELD VILLAGE,PROGRESSIVE CASUALTY INSURANCE COMPANY,44143,OH,2018-09-29,2015-09-30,2015,IT APPLICATIONS PROGRAMMER,524126.0,NaN,NaN,NaN,NaN,15-1132,"SOFTWARE DEVELOPERS, APPLICATIONS",1.0,H-1B,Year,NaN,NaN,83744.00,0.00
1131650,I-203-15050-838648,WITHDRAWN,2015-02-20,2015-02-25,4000 HIGHWAY M-137,INTERLOCHEN,INTERLOCHEN CENTER FOR THE ARTS,49643,MI,2017-08-19,2015-08-20,2015,ORCHESTRA CONDUCTOR,6111.0,NaN,NaN,NaN,NaN,25-3099,"TEACHERS AND INSTRUCTORS, ALL OTHER",1.0,E-3 Australian,Bi-Weekly,INTERLOCHEN,MI,2687.31,0.00

In [116]:
h1b.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_NAME,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYMENT_END_DATE,EMPLOYMENT_START_DATE,FISCAL_YEAR,JOB_TITLE,NAIC_CODE,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,SOC_CODE,SOC_NAME,TOTAL_WORKERS,VISA_CLASS,WAGE_UNIT_OF_PAY,WORKSITE_CITY,WORKSITE_STATE,WAGE_RATE_OF_PAY_LOWER_BOUND,WAGE_RATE_OF_PAY_UPPER_BOUND
0,I-200-09106-546545,CERTIFIED-WITHDRAWN,2015-02-09,2015-02-09,601 UNIVERSITY DRIVE,SAN MARCOS,TEXAS STATE UNIVERSITY-SAN MARCOS,78666,TX,2016-02-01,2013-02-01,2014,POSTDOCTORAL RESEARCH ASSOCIATE,611310.0,43118.0,Year,OES,2013.0,19-1029,"Biological Scientists, All Other",1.0,H-1B,Year,SAN MARCOS,TX,50000.0,50000.0
1,I-200-09162-143337,CERTIFIED,2015-01-05,2015-01-05,1901 N. MERIDIAN ST.,INDIANAPOLIS,"EYE SPECIALISTS OF INDIANA, P.C.",46202,IN,2017-09-15,2014-09-15,2014,OPTOMETRIST,621320.0,64251.0,Year,Other,2013.0,29-1041,Optometrists,1.0,H-1B,Year,INDIANAPOLIS,IN,65000.0,65000.0
2,I-200-09182-550211,DENIED,2013-01-07,2013-01-07,21 WEST SUPERIOR STREET,DULUTH,"LHB, INC.",55802,MN,2015-04-01,2014-04-01,2014,FOOD SAFETY SCIENTIST,541330.0,50000.0,Year,OES,2014.0,27-2011,Actors,1.0,H-1B,Year,FARG,WI,50000.0,50000.0
3,I-200-09193-873099,CERTIFIED,2015-09-07,2015-09-07,75 BOULDERBROOK CIRCLE,LAWRENCEVILLE,"WAM USA, INC.",30045,GA,2017-08-27,2014-08-28,2014,INTERNATIONAL ACCOUNTANT,333922.0,47424.0,Year,Other,2014.0,13-2011,Accountants and Auditors,1.0,H-1B,Year,LAWRENCEVILLE,GA,48000.0,48000.0
4,I-200-09197-120609,CERTIFIED-WITHDRAWN,2015-06-06,2015-06-06,20143 DESERT FOREST DRIVE,ASHBURN,"DFUSE TECHNOLOGIES, INC.",20147,VA,2017-09-01,2014-09-01,2014,PROGRAMMER ANALYST,541519.0,61589.0,Year,OES,2013.0,15-1131,Computer Programmers,1.0,H-1B,Year,SAN JOSE,CA,62000.0,62000.0

> ## Check data integrity SOC_CODE

In [117]:
h1b.SOC_CODE.value_counts(dropna = False).head(10)
# h1b.SOC_CODE.isnull().sum()

15-1121    324906
15-1132    299575
15-1131    246303
15-1199    152032
15-1133     55050
13-1111     39800
13-2011     31588
15-1142     30366
13-2051     28448
17-2141     25277
Name: SOC_CODE, dtype: int64

In [118]:
import re
pattern1 = '\d{2}-\d{4}'
pattern2 = '\d{2}.\d{4}'
pattern3 = '\d{6}'
pattern4 = '\d{4}.\d{2}'
pattern5 = '\d{4}-\d{2}'
pattern6 = '\d{2}--\d{4}'
pattern7 = '\d{2}\s*-\s*\d{4}'

In [119]:
# look for codes that don't fit the pattern: xx-xxxx
bad_codes = []
analyzed_codes = []
soc_codes = h1b['SOC_CODE'].map(str)
for index, code in enumerate(soc_codes):
    string = str(code)
    result1 = re.match(pattern1, string)
    result2 = re.match(pattern2, string)
    result3 = re.match(pattern3, string)
    result4 = re.match(pattern4, string)
    result5 = re.match(pattern5, string)
    result6 = re.match(pattern6, string)
    result7 = re.match(pattern7, string)
    if (result1 is None and result2 is None and result3 is None 
        and result4 is None and result5 is None 
        and result6 is None and result7 is None):
        bad_codes.append((index, code))
    elif result2 is not None:
        string.replace('.', '-')
    elif result3 is not None:
        string = string[0:3] + '-' + string[3:]
    elif result4 is not None:
        string = string[0:2] + '-' + string[2:4] + string[5:]
    elif result5 is not None:
        string = string[0:2] + '-' + string[2:4] + string[5:]
    elif result6 is not None:
        string.replace('--', '-')
    elif result7 is not None:
        string.strip()
    analyzed_codes.append(string)

In [120]:
len(bad_codes)

99

In [121]:
# spot check some unexpected values
h1b.loc[h1b['SOC_CODE'] == '<FONT><FONT>47-2031</FONT></FONT>'] # inversed columns code and name

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_NAME,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYMENT_END_DATE,EMPLOYMENT_START_DATE,FISCAL_YEAR,JOB_TITLE,NAIC_CODE,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,SOC_CODE,SOC_NAME,TOTAL_WORKERS,VISA_CLASS,WAGE_UNIT_OF_PAY,WORKSITE_CITY,WORKSITE_STATE,WAGE_RATE_OF_PAY_LOWER_BOUND,WAGE_RATE_OF_PAY_UPPER_BOUND
1125978,I-201-15232-909477,DENIED,2015-08-20,2015-08-25,2777 W 3100 S,WEST VALLEY,"CHIMEX,LLC",84119,UT,2018-10-02,2015-11-02,2015,CARPENTERS,236118.0,12.33,Hour,OES,2014.0,<FONT><FONT>47-2031</FONT></FONT>,<FONT><FONT>CARPINTEROS</FONT></FONT>,10.0,H-1B1 Chile,Hour,SALTLAKE CITY,UT,12.33,19.63

In [122]:
# replace values
h1b.loc[1125978,'SOC_CODE'] = '47-2031'
h1b.loc[1125978,'SOC_NAME'] = 'CARPENTERS'

In [123]:
h1b.loc[1125978]

CASE_NUMBER                      I-201-15232-909477
CASE_STATUS                                  DENIED
CASE_SUBMITTED                  2015-08-20 00:00:00
DECISION_DATE                   2015-08-25 00:00:00
EMPLOYER_ADDRESS                     2777 W 3100 S
EMPLOYER_CITY                           WEST VALLEY
EMPLOYER_NAME                            CHIMEX,LLC
EMPLOYER_POSTAL_CODE                          84119
EMPLOYER_STATE                                   UT
EMPLOYMENT_END_DATE             2018-10-02 00:00:00
EMPLOYMENT_START_DATE           2015-11-02 00:00:00
FISCAL_YEAR                                    2015
JOB_TITLE                                CARPENTERS
NAIC_CODE                                    236118
PREVAILING_WAGE                               12.33
PW_UNIT_OF_PAY                                 Hour
PW_WAGE_SOURCE                                  OES
PW_WAGE_SOURCE_YEAR                            2014
SOC_CODE                                    47-2031
SOC_NAME                                 CARPENTERS
TOTAL_WORKERS                                    10
VISA_CLASS                              H-1B1 Chile
WAGE_UNIT_OF_PAY                               Hour
WORKSITE_CITY                         SALTLAKE CITY
WORKSITE_STATE                                   UT
WAGE_RATE_OF_PAY_LOWER_BOUND                  12.33
WAGE_RATE_OF_PAY_UPPER_BOUND                  19.63
Name: 1125978, dtype: object

In [124]:
# spot check somce unexpected values
h1b.loc[h1b['SOC_CODE'] == 'COMPUTER SYSTEMS ANALYSTS'] # inversed columns code and name #correct code: 15-1121

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_NAME,EMPLOYER_POSTAL_CODE,EMPLOYER_STATE,EMPLOYMENT_END_DATE,EMPLOYMENT_START_DATE,FISCAL_YEAR,JOB_TITLE,NAIC_CODE,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_SOURCE,PW_WAGE_SOURCE_YEAR,SOC_CODE,SOC_NAME,TOTAL_WORKERS,VISA_CLASS,WAGE_UNIT_OF_PAY,WORKSITE_CITY,WORKSITE_STATE,WAGE_RATE_OF_PAY_LOWER_BOUND,WAGE_RATE_OF_PAY_UPPER_BOUND
963551,I-200-15124-654351,CERTIFIED,2015-05-06,2015-05-12,25 INDEPENDENCE BLVD. STE 401,WARREN,MINDTREE LIMITED,07059,NJ,2018-05-11,2015-05-12,2015,BUSINESS ANALYST,541511.0,76211.0,Year,OES,2014.0,COMPUTER SYSTEMS ANALYSTS,15-1121,20.0,H-1B,Year,PARSIPPANY,NJ,76211.0,96211.0

In [125]:
h1b.loc[h1b['SOC_CODE'] == 'COMPUTER SYSTEMS ANALYSTS'].index

Int64Index([963551], dtype='int64')

In [126]:
# replace values
h1b.loc[963551,'SOC_CODE'] = '15-1121'
h1b.loc[963551,'SOC_NAME'] = 'COMPUTER SYSTEMS ANALYSTS'

In [127]:
h1b.loc[963551]

CASE_NUMBER                                I-200-15124-654351
CASE_STATUS                                         CERTIFIED
CASE_SUBMITTED                            2015-05-06 00:00:00
DECISION_DATE                             2015-05-12 00:00:00
EMPLOYER_ADDRESS                25 INDEPENDENCE BLVD. STE 401
EMPLOYER_CITY                                          WARREN
EMPLOYER_NAME                                MINDTREE LIMITED
EMPLOYER_POSTAL_CODE                                    07059
EMPLOYER_STATE                                             NJ
EMPLOYMENT_END_DATE                       2018-05-11 00:00:00
EMPLOYMENT_START_DATE                     2015-05-12 00:00:00
FISCAL_YEAR                                              2015
JOB_TITLE                                    BUSINESS ANALYST
NAIC_CODE                                              541511
PREVAILING_WAGE                                         76211
PW_UNIT_OF_PAY                                           Year
PW_WAGE_SOURCE                                            OES
PW_WAGE_SOURCE_YEAR                                      2014
SOC_CODE                                              15-1121
SOC_NAME                            COMPUTER SYSTEMS ANALYSTS
TOTAL_WORKERS                                              20
VISA_CLASS                                               H-1B
WAGE_UNIT_OF_PAY                                         Year
WORKSITE_CITY                                      PARSIPPANY
WORKSITE_STATE                                             NJ
WAGE_RATE_OF_PAY_LOWER_BOUND                            76211
WAGE_RATE_OF_PAY_UPPER_BOUND                            96211
Name: 963551, dtype: object

In [128]:
# spot check some unexpected values
h1b.loc[h1b['SOC_CODE'] == 'COMPTUER SYSTEMS ANALYST'].index # inversed columns code and name

Int64Index([1023835], dtype='int64')

In [129]:
# replace values
h1b.loc[1023835,'SOC_CODE'] = '15-1121'
h1b.loc[1023835,'SOC_NAME'] = 'COMPUTER SYSTEMS ANALYSTS'

In [130]:
h1b.loc[1023835]

CASE_NUMBER                                        I-200-15174-714920
CASE_STATUS                                                 WITHDRAWN
CASE_SUBMITTED                                    2015-06-23 00:00:00
DECISION_DATE                                     2015-06-25 00:00:00
EMPLOYER_ADDRESS                1095 CRANBURY SOUTH RIVER ROAD STE 10
EMPLOYER_CITY                                               JAMESBURG
EMPLOYER_NAME                             HEXAWARE TECHNOLOGIES, INC.
EMPLOYER_POSTAL_CODE                                            08831
EMPLOYER_STATE                                                     NJ
EMPLOYMENT_END_DATE                               2018-07-21 00:00:00
EMPLOYMENT_START_DATE                             2015-07-22 00:00:00
FISCAL_YEAR                                                      2015
JOB_TITLE                                             SYSTEMS ANALYST
NAIC_CODE                                                      541511
PREVAILING_WAGE                                                 87194
PW_UNIT_OF_PAY                                                   Year
PW_WAGE_SOURCE                                                    OES
PW_WAGE_SOURCE_YEAR                                              2014
SOC_CODE                                                      15-1121
SOC_NAME                                    COMPUTER SYSTEMS ANALYSTS
TOTAL_WORKERS                                                       1
VISA_CLASS                                                       H-1B
WAGE_UNIT_OF_PAY                                                 Year
WORKSITE_CITY                                                  RESTON
WORKSITE_STATE                                                     VA
WAGE_RATE_OF_PAY_LOWER_BOUND                                    88000
WAGE_RATE_OF_PAY_UPPER_BOUND                                        0
Name: 1023835, dtype: object

In [131]:
h1b.loc[1786152]

CASE_NUMBER                                          I-200-15324-892450
CASE_STATUS                                                   CERTIFIED
CASE_SUBMITTED                                      2016-01-06 00:00:00
DECISION_DATE                                       2016-01-12 00:00:00
EMPLOYER_ADDRESS                                  6100 TENNYSON PARKWAY
EMPLOYER_CITY                                                     PLANO
EMPLOYER_NAME                                           INFOSYS LIMITED
EMPLOYER_POSTAL_CODE                                              75024
EMPLOYER_STATE                                                       TX
EMPLOYMENT_END_DATE                                 2019-02-06 00:00:00
EMPLOYMENT_START_DATE                               2016-02-09 00:00:00
FISCAL_YEAR                                                        2016
JOB_TITLE                                   SENIOR PROJECT MANAGER - US
NAIC_CODE                                                        541511
PREVAILING_WAGE                                                  104478
PW_UNIT_OF_PAY                                                     Year
PW_WAGE_SOURCE                                                      OES
PW_WAGE_SOURCE_YEAR                                                2015
SOC_CODE                                                            NaN
SOC_NAME                        INFORMATION TECHNOLOGY PROJECT MANAGERS
TOTAL_WORKERS                                                         1
VISA_CLASS                                                         H-1B
WAGE_UNIT_OF_PAY                                                   Year
WORKSITE_CITY                                                   HOUSTON
WORKSITE_STATE                                                       TX
WAGE_RATE_OF_PAY_LOWER_BOUND                                     106412
WAGE_RATE_OF_PAY_UPPER_BOUND                                     106412
Name: 1786152, dtype: object

In [132]:
h1b.loc[1786153]

CASE_NUMBER                          I-200-16075-989908
CASE_STATUS                                   CERTIFIED
CASE_SUBMITTED                      2016-03-15 00:00:00
DECISION_DATE                       2016-03-21 00:00:00
EMPLOYER_ADDRESS                39737 PASEO PADRE PKWY.
EMPLOYER_CITY                                   FREMONT
EMPLOYER_NAME                            SIGMAWAYS, INC
EMPLOYER_POSTAL_CODE                              94538
EMPLOYER_STATE                                       CA
EMPLOYMENT_END_DATE                 2019-09-08 00:00:00
EMPLOYMENT_START_DATE               2016-09-09 00:00:00
FISCAL_YEAR                                        2016
JOB_TITLE                              SYSTEMS ENGINEER
NAIC_CODE                                        541511
PREVAILING_WAGE                                   75421
PW_UNIT_OF_PAY                                     Year
PW_WAGE_SOURCE                                    Other
PW_WAGE_SOURCE_YEAR                                2015
SOC_CODE                                            NaN
SOC_NAME                                            NaN
TOTAL_WORKERS                                         1
VISA_CLASS                                         H-1B
WAGE_UNIT_OF_PAY                                   Year
WORKSITE_CITY                                   FREMONT
WORKSITE_STATE                                       CA
WAGE_RATE_OF_PAY_LOWER_BOUND                      90000
WAGE_RATE_OF_PAY_UPPER_BOUND                      90000
Name: 1786153, dtype: object

> ## Check summary statistics for numeric values in dataframe to check for abnormal outliers

In [133]:
h1b.describe()

,FISCAL_YEAR,NAIC_CODE,PREVAILING_WAGE,PW_WAGE_SOURCE_YEAR,TOTAL_WORKERS,WAGE_RATE_OF_PAY_LOWER_BOUND,WAGE_RATE_OF_PAY_UPPER_BOUND
count,1.786128e+06,1.786110e+06,1.786008e+06,1.785933e+06,1.786123e+06,1.786128e+06,1.786128e+06
mean,2.015072e+03,4.616868e+05,6.895872e+04,2.014285e+03,2.006836e+00,8.212976e+04,1.249094e+05
std,8.052286e-01,8.796828e+05,8.287930e+05,5.996859e+00,5.320921e+00,5.487221e+06,8.248970e+07
min,2.014000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.014000e+03,5.172120e+05,5.403800e+04,2.014000e+03,1.000000e+00,6.000000e+04,0.000000e+00
50%,2.015000e+03,5.415110e+05,6.518700e+04,2.014000e+03,1.000000e+00,7.104700e+04,6.367200e+04
75%,2.016000e+03,5.415110e+05,8.178600e+04,2.015000e+03,1.000000e+00,9.100000e+04,8.500000e+04
max,2.016000e+03,8.129908e+08,8.201323e+08,7.201000e+03,2.013000e+03,7.278873e+09,1.100001e+11

### Outliers in all wage data columns would need to be handled here - likely data entry errors

In [134]:
# Export to CSV
h1b.to_csv('h1b.csv')